.faq-big-title {
    background-image: linear-gradient(180deg, transparent 4px, #343a40 0px)
        ,linear-gradient(45deg, #343a40 0px, #343a40 40px, transparent 40px)
        ,linear-gradient(225deg, #343a40, #343a40)
        ,linear-gradient(0deg, #343a40, #343a40)
        ,linear-gradient(45deg, transparent 20px, #343a40 0px)
        ,linear-gradient(90deg, #343a40, #343a40)
        ;
}

.faq-big-title>.title {
    color: #edf0f3;
    background-image: linear-gradient(315deg, transparent 30px, #F16C31 0px, #F16C31 40px, transparent 40px)
        ,linear-gradient(90deg, transparent 55%, #F16C31 0px)
        ,linear-gradient(45deg, transparent 30px, #F16C31 0px, #F16C31 40px, transparent 40px)
        ,linear-gradient(180deg, #F16C31 0px, #F16C31 20px, transparent 0px)
        ,linear-gradient(135deg, transparent 0px, #F16C31 0px, #F16C31 15px, transparent 0px)
        
        ,linear-gradient(135deg, transparent 30px, #F16C31 0px, #F16C31 40px, transparent 40px)
        ,linear-gradient(270deg, transparent 65%, #F16C31 0px)
        ,linear-gradient(225deg, transparent 30px, #F16C31 0px, #F16C31 40px, transparent 40px)
        ,linear-gradient(0deg, #F16C31 0px, #F16C31 20px, transparent 0px)
        ,linear-gradient(315deg, transparent 0px, #F16C31 0px, #F16C31 15px, transparent 0px)
        ;
}

.faq-title-lvl2 .title {
    color: #edf0f3;
    background-color: #2F2E3A;
}

.faq-title-lvl3 {
    border: 1px solid #F16C31;
}

.faq-title-lvl3 .title {
    background-color: #F16C31;
}