img.inverted-on-dark {
	filter: invert(1);
}

.card-header {
	color: #fff;
}
/* MODIF RUVAAKH*/

/*Items with tooltip*/
a[data-toggle="tooltip"] {
    text-decoration-color: #ffbb5c !important;
}

/*Navbar color*/
nav {
    background-color: #1f1f1f;
}

/*Dropdown menu color*/
.dropdown-menu {
    background-color: #1f1f1f;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #656565;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #403726;
}

/*Dropdown section color*/
.dropdown-header {
    color: #f89406;
}

/*Home page links*/
.text-info {
    color: #ffbb5c !important;
}

a.text-info:hover, a.test-infos:focus {
    color: #ffd395 !important;
}

/* h4 class text */
.text-light {
    color: #e4e4e4 !important;
}

/*h1 text*/
body {
    color: #edf0f3;
}

/*Home categories divider*/
.bg-dark {
    background-color: #616161 !important;
}    

/*Body BG*/
body {
    background-color: #333333;
}

/* Card title */
.card-header {
    background-color : #656565;
}

/*Card Header*/
.card-header a {
    color: #edf0f3;
}

/* Card Body*/
.card {
    color: #edf0f3;
    background-color: #464646 !important;
}

/*Body of a card nested in another card*/
.card .card {
    background-color: #565656 !important;
}

/*Card subtitle (améliorations)*/
.text-muted {
    color: #b1b1b1 !important;
}

/*Colors of the active tab*/
.nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #ffa501 !important;
    background-color: #292929 !important;
}

/*Color text in tables*/
.table {
    color: #edf0f3; 
}

.table-hover tbody tr:hover {
    color: #fff;
    background-color: #4e4e4e;
}


/*Secondary text color portée*/
.text-secondary {
    color: #a0a0a0 !important;
}

/*Hover link*/
a:hover {
   color: #ffc87b !important;
}

.card-header a:hover, .navbar-brand:hover {
    color: #fff !important;
}

/*Mng buttons*/
button.btn.btn-secondary.btn-knightools-mng {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5a5a5a), color-stop(#5a5a5a), to(#5a5a5a));
    background-image: linear-gradient(#5a5a5a, #5a5a5a, #5a5a5a);
    }
.btn-secondary.btn-knightools-mng:not([disabled]):not(.disabled):hover{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#101112), color-stop(40%, #17191b), to(#1b1e20));
    background-image: linear-gradient(#101112, #17191b 40%, #1b1e20);
    }

/*Cog button*/

a.btn.btn-sm {
    background-color: #5a5a5a;
}
a.btn.btn-sm:hover {
    background-color: #424242;
}

/*Pop-up sheet parameter*/
.close {
    color: #fff !important;
}

.modal-header {
    background-color: #656565;
}

.modal-body {
    background-color: #333333 !important;
}
.modal-footer {
    background-color: #656565;
}

button.btn.btn-primary.btn-knightools-valid {
    background-image: linear-gradient(#585858, #464646 60%,#3a3a3a);
}

button.btn.btn-secondary.btn-knightools-cancel {
    background-image: linear-gradient(#585858, #464646 60%,#3a3a3a);
}

.btn-secondary.btn-knightools-cancel:not([disabled]):not(.disabled):hover{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#101112), color-stop(40%, #17191b), to(#1b1e20));
    background-image: linear-gradient(#101112, #17191b 40%, #1b1e20);
}

.faq-big-title {
    background-image: linear-gradient(180deg, transparent 4px, #1f1f1f 0px)
        ,linear-gradient(45deg, #1f1f1f 0px, #1f1f1f 40px, transparent 40px)
        ,linear-gradient(225deg, #1f1f1f, #1f1f1f)
        ,linear-gradient(0deg, #1f1f1f, #1f1f1f)
        ,linear-gradient(45deg, transparent 20px, #1f1f1f 0px)
        ,linear-gradient(90deg, #1f1f1f, #1f1f1f)
        ;
}

.faq-big-title>.title {
    color: #ffffff;
    background-image: linear-gradient(315deg, transparent 30px, #F16C31 0px, #F16C31 40px, transparent 40px)
        ,linear-gradient(90deg, transparent 55%, #F16C31 0px)
        ,linear-gradient(45deg, transparent 30px, #F16C31 0px, #F16C31 40px, transparent 40px)
        ,linear-gradient(180deg, #F16C31 0px, #F16C31 20px, transparent 0px)
        ,linear-gradient(135deg, transparent 0px, #F16C31 0px, #F16C31 15px, transparent 0px)
        
        ,linear-gradient(135deg, transparent 30px, #F16C31 0px, #F16C31 40px, transparent 40px)
        ,linear-gradient(270deg, transparent 65%, #F16C31 0px)
        ,linear-gradient(225deg, transparent 30px, #F16C31 0px, #F16C31 40px, transparent 40px)
        ,linear-gradient(0deg, #F16C31 0px, #F16C31 20px, transparent 0px)
        ,linear-gradient(315deg, transparent 0px, #F16C31 0px, #F16C31 15px, transparent 0px)
        ;
}

.faq-title-lvl2 .title {
    background-color: #2F2E3A;
}

.faq-title-lvl3 {
    border: 1px solid #F16C31;
}

.faq-title-lvl3 .title {
    background-color: #F16C31;
}


.faq-big-title.alter >.title {
    color: #ffffff;
    background-image: linear-gradient(315deg, transparent 30px, #4461AD 0px, #4461AD 40px, transparent 40px)
        ,linear-gradient(90deg, transparent 55%, #4461AD 0px)
        ,linear-gradient(45deg, transparent 30px, #4461AD 0px, #4461AD 40px, transparent 40px)
        ,linear-gradient(180deg, #4461AD 0px, #4461AD 20px, transparent 0px)
        ,linear-gradient(135deg, transparent 0px, #4461AD 0px, #4461AD 15px, transparent 0px)
        
        ,linear-gradient(135deg, transparent 30px, #4461AD 0px, #4461AD 40px, transparent 40px)
        ,linear-gradient(270deg, transparent 65%, #4461AD 0px)
        ,linear-gradient(225deg, transparent 30px, #4461AD 0px, #4461AD 40px, transparent 40px)
        ,linear-gradient(0deg, #4461AD 0px, #4461AD 20px, transparent 0px)
        ,linear-gradient(315deg, transparent 0px, #4461AD 0px, #4461AD 15px, transparent 0px)
        ;
}

.faq-title-lvl3.alter {
    border: 1px solid #4461AD;
}

.faq-title-lvl3.alter .title {
    background-color: #4461AD;
}


.faq-big-title-backup4 {
    background-color: transparent;
    background-image: linear-gradient(180deg, #1f1f1f, #1f1f1f)
        ,linear-gradient(45deg, #1f1f1f 0px, #1f1f1f 40px, transparent 40px)
        ,linear-gradient(225deg, #1f1f1f, #1f1f1f)
        ,linear-gradient(0deg, #1f1f1f, #1f1f1f)
        ,linear-gradient(45deg, transparent 20px, #1f1f1f 0px)
        ,linear-gradient(90deg, #1f1f1f, #1f1f1f);
    background-position: top left
        ,top right
        ,bottom right
        ,bottom right
        ,bottom left
        ,top left;
    background-size: calc(100% - 40px) 51%
        ,45px 47px
        ,51% calc(100% - 40px)
        ,calc(100% - 50px) 51%
        ,55px 30px
        ,51% calc(100% - 30px);
    background-repeat: no-repeat;
}
.faq-big-title-backup3 {
    background-image: linear-gradient(180deg, #1f1f1f, #1f1f1f)
        ,linear-gradient(45deg, transparent 9px, #1f1f1f 10px, #1f1f1f 12px, transparent 12px)
        ,linear-gradient(225deg, #1f1f1f, #1f1f1f)
        ,linear-gradient(0deg, #1f1f1f, #1f1f1f)
        ,linear-gradient(45deg, transparent 9px, #1f1f1f 10px, #1f1f1f 12px, transparent 12px)
        ,linear-gradient(90deg, #1f1f1f, #1f1f1f)
    ;
    background-position: top left
        ,top right
        ,bottom right
        ,bottom right
        ,bottom left
        ,top left
    ;
    background-size: calc(100% - 15px) 2px
        ,15px 15px
        ,2px calc(100% - 15px)
        ,calc(100% - 15px) 2px
        ,15px 15px
        ,2px calc(100% - 15px)
    ;
}
.faq-big-title-backup2 {
    background-image: linear-gradient(180deg, #1f1f1f, #1f1f1f)
        ,linear-gradient(225deg, #1f1f1f, #1f1f1f)
        ,linear-gradient(0deg, #1f1f1f, #1f1f1f)
        ,linear-gradient(45deg, transparent 9px, #1f1f1f 10px, #1f1f1f 12px, transparent 12px)
        ,linear-gradient(90deg, #1f1f1f, #1f1f1f)
    ;
    background-position: top left
        ,top right
        ,bottom right
        ,bottom left
        ,top left
    ;
    background-size: 100% 2px
        ,2px 100%
        ,calc(100% - 15px) 2px,
        15px 15px
        ,2px calc(100% - 15px)
    ;
}
.faq-big-title-backup {
    background-image: linear-gradient(180deg, #1f1f1f, #1f1f1f)
        ,linear-gradient(225deg, #1f1f1f, #1f1f1f)
        ,linear-gradient(0deg, #1f1f1f, #1f1f1f)
        ,linear-gradient(90deg, #1f1f1f, #1f1f1f)
        ,linear-gradient(135deg, transparent 9px, #1f1f1f 10px, #1f1f1f 12px, transparent 12px)
        ,linear-gradient(90deg, #1f1f1f, #1f1f1f)
        ;
    background-position: top right
        ,top right
        ,bottom left
        ,bottom left
        ,top left
        ;
    background-size: calc(100% - 15px) 2px
        ,2px 100%
        ,100% 2px
        ,2px calc(100% - 15px)
        ,15px 15px
        ;
}
