{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="row">
    
    <div class="col">
        <h1>{% trans "Sign In" %}</h1>
        
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-success primaryAction" type="submit">{% trans "Sign In" %}</button>
            <a class="btn btn-sm btn-warning button secondaryAction" href="{% url 'account_reset_password' %}"><small>{% trans "Forgot Password?" %}</small></a>
        </form>
    </div>
    <div class="col">
        <h1>{% trans "Sign Up" %}</h1>
        
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ signupform|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-success" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
    </div>
    
</div>

{% endblock %}
