{% extends 'virtualtable/base.html' %}

{% load static %}
{% load martortags %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load gm_extras %}

{% block content %}
<form method="post">
    <h1 class="text-center">Création de personnage</h1>
    {% csrf_token %}
    {{ form.token|as_crispy_field }}
    <div class="row">
        <div class="col">
            {{ form.automatically_computed|as_crispy_field }}
        </div>
    </div>
    
    
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="character-tab" data-toggle="tab" href="#character" role="tab" aria-controls="character" aria-selected="true">{% trans "Personnage" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="arcana-tab" data-toggle="tab" href="#arcana" role="tab" aria-controls="arcana" aria-selected="false">{% trans "Arcanes" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats" aria-selected="false">{% trans "Aspects & caractéristiques" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="equipment-tab" data-toggle="tab" href="#equipment" role="tab" aria-controls="equipment" aria-selected="false">{% trans "Équipements" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="note-tab" data-toggle="tab" href="#note" role="tab" aria-controls="note" aria-selected="false">{% trans "Notes" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="background-tab" data-toggle="tab" href="#background" role="tab" aria-controls="background" aria-selected="false">{% trans "Background" %}</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="character" role="tabpanel" aria-labelledby="character-tab">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.nickname|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-6">
                            {{ form.archetype|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.great_deed|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-6">
                            {{ form.crest|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.division|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            {{ form.main_motivation|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form.lesser_motivations|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-6">
                            {{ form.current_glory_points|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.total_glory_points|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form.current_experience_points|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.total_experience_points|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form.current_heroic_points|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.current_contact_points|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form.defence_no_od|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.defence_with_od|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form.reaction_no_od|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.reaction_with_od|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form.initiative_no_od|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.initiative_with_od|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="tab-pane fade" id="arcana" role="tabpanel" aria-labelledby="arcana-tab">
            <div class="row">
                <div class="col">
                    
                </div>
            </div>
        </div>
        
        <div class="tab-pane fade mt-2" id="stats" role="tabpanel" aria-labelledby="stats-tab">
            {% for aspect in aspects %}
                <div class="row">
                    <div class="col border">
                        <div id="div_id_aspect_{{aspect.id}}" class="form-group">
                            <label for="id_aspect_{{aspect.id}}" class="col-form-label font-weight-bold ">
                                {{ aspect.name }}
                            </label>
                            <div class="row">
                                {% with stringid=aspect.id|stringformat:'s' %}
                                    {% with key='character_aspect_'|add:stringid %}
                                        {{ form|get_item:key|as_crispy_field }}
                                    {% endwith %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    {% for characteristic in aspect.characteristics.all %}
                        <div class="col border">
                            <div id="div_id_characteristic_{{characteristic.id}}" class="form-group">
                                <label for="id_characteristic_{{characteristic.id}}" class="col-form-label font-italic">
                                    {{ characteristic.name }}
                                </label>
                                <div class="input-group">
                                    {% with stringid=characteristic.id|stringformat:'s' %}
                                        {% with key='character_characteristic_'|add:stringid|add:'_value' %}
                                            {{ form|get_item:key|as_crispy_field }}
                                        {% endwith %}
                                        {% with key='character_characteristic_'|add:stringid|add:'_od' %}
                                            {{ form|get_item:key|as_crispy_field }}
                                        {% endwith %}
                                        {% with key='character_characteristic_'|add:stringid|add:'_color' %}
                                            {{ form|get_item:key|as_crispy_field }}
                                        {% endwith %}
                                    {% endwith %}
                                    <!-- <input type="number" name="characteristic_{{characteristic.id}}" min="0" class="numberinput form-control" required="" id="id_characteristic_{{characteristic.id}}">
                                    <input type="number" min="0" max="{{ characteristic.max_level_overdrive }}" placeholder="OD" name="od_{{characteristic.id}}" min="0" class="numberinput form-control" required="" id="id_od_{{characteristic.id}}"> -->
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        
        <div class="tab-pane fade" id="equipment" role="tabpanel" aria-labelledby="equipment-tab">
            <div class="row">
                <div class="col-4">
                    {{ form.armour|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.default_armour_nod|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.default_energy_nod|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.default_health_nod|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.default_grenade_stock|as_crispy_field }}
                </div>
            </div>
            
            <div class="row">
                <div class="col-2">
                    {{ form.final_total_health_points|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.final_total_hope_points|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.final_total_armour_points|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.final_total_energy_points|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.default_force_field|as_crispy_field }}
                </div>
            </div>
        </div>
        
        <div class="tab-pane fade" id="note" role="tabpanel" aria-labelledby="note-tab">
            <div class="row">
                <div class="col">
                    {{ form.notes|as_crispy_field }}
                </div>
            </div>
        </div>
        
        <div class="tab-pane fade" id="background" role="tabpanel" aria-labelledby="background-tab">
            <div class="row">
                <div class="col">
                    {{ form.background|as_crispy_field }}
                </div>
            </div>
        </div>
    </div>
    
    <button type="submit" class="btn btn-success">{% trans "Enregistrer" %}</button>
</form>
{% endblock %}