{% load i18n %}
{% load static %}

{% spaceless %}
<div class="col-12 col-md-6 customizable-display custom-gauge{{ gauge.id }}">
    <div class="cg-bar{{ gauge.id }} calc-attribute mb-2 pb-2">
        {% include 'virtualtable/progress_bar.html' with target="custom" attr_code="cstm" attr_cstm_id=gauge.id color=gauge.color label=gauge.abbrev full_label=gauge.name max=gauge.max current=gauge.current only %}
    </div>
</div>
{% endspaceless %}
