{% extends "virtualtable/base.html" %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Consentement" %} - {% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'virtualtable/js/virtualtable_consent.js' %}"></script>
    <script type="text/javascript" src="{% static 'virtualtable/js/stupidtable.min.js' %}"></script>
{% endblock js %}

{% block css %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'virtualtable/css/consent.css' %}" />
    {{ block.super }}
{% endblock css %}


{% block content %}
    {% if not object %}
        <h1 class="mt-3">{% trans "Erreur : Table inaccessible" %}</h1>
        
        <p>
            {% trans "Aucun questionnaire de consentement n'est disponible à cette table." %}
        </p>
    {% else %}
        <h1 class="text-center font-weight-bold">Consentement sur {{ object.name }}</h1>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Explications" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Car le jeu de rôle est un contrat social, il est bien de pouvoir se renseigner sur les sujets qui gênent les participants à la table. En effet, certains sujets bloquent complètement l'amusement d'une partie de la table, qu'il soit abordé par le ou la MJ ou par l'un ou l'une des PJ. Ce formulaire de consentement, commun à toute la table, permettra de prévenir en amont des sujets que vous pensez sensibles ou des sujets que d'autres personnes à la table jugent sensibles.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Le questionnaire est anonymement aggloméré pour indiquer la réponse la plus limitante : si une personne indique qu'un sujet est interdit, et trois autres personnes n'ont aucun problème, le sujet sera marqué comme interdit. Vous pouvez apporter des précisions, elles seront agglomérées dans l'interface finale des résultats. Ces résultats sont consultables à tout moment dans la partie, en bas de la table, dans l'onglet "Consentement" du descriptif de la table.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            À noter que n'avoir aucun problème avec ces sujets ne signifie pas que vous les cautionnez, mais vous avez assez de recul par rapport à votre vécu pour pouvoir jouer avec. N'oubliez pas que ce n'est généralement pas par choix que certains sujets sont problématiques pour d'autres personnes, et qu'il n'y a aucune honte à indiquer qu'un sujet vous gêne. Comme une personne évolue avec le temps, vous pouvez modifier ce formulaire librement au fur et à mesure de vos parties et des événements qui rythment votre vraie vie pour adapter le comportement de la table.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Chaque sujet possède 3 niveaux de consentement :
                        {% endblocktrans %}
                    </p>
                    <ul>
                        <li>
                            <i class="fa-solid fa-circle-xmark"></i>
                            {% blocktrans trimmed %}
                                Interdit pour moi : Ce sujet vous met mal à l'aise au point de ne pas vous amuser, voire de faire remonter des souvenirs traumatiques ou des blocages. Si ce sujet est interdit, aucune personne à la table ne doit l'aborder, même pour plaisanter.
                            {% endblocktrans %}
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-question"></i>
                            {% blocktrans trimmed %}
                                Limites à discuter à la table : Ce sujet vous met mal à l'aise, mais tout va dépendre de l'angle abordé. Si le sujet est juste évoqué mais ellipsé, sans entrer dans le détail, ça peut peut-être aller, mais il ne faudrait pas s'attarder dessus. Dans tous les cas, les limitations peuvent être indiquées en commentaire et seront ainsi affichées (toujours anonymement). Vous pouvez bien sûr ne pas rester anonyme et en discuter de vive-voix avec vos co-équipiers : tout dépend de votre niveau d'acceptation du problème et votre aise à en parler.
                            {% endblocktrans %}
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            {% blocktrans trimmed %}
                                Aucun problème : Vous n'avez aucun souci à aborder ce sujet dans le cadre du jeu de rôle.
                            {% endblocktrans %}
                        </li>
                    </ul>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Ce formulaire vient d'une volonté d'offrir un environnement sûr. Plus d'informations (en anglais) : <a href="https://www.drivethrurpg.com/product/288535/Consent-in-Gaming" target="_blank">Consent in gaming</a>
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
        <form id="answers-form" method="post">
            {% csrf_token %}
            {{ form.answers_json }}
            <div class="alert alert-danger mb-3 text-justify {% if object.game_master == user %}d-none{% endif %}" role="alert">
                <label><input type="checkbox" id="rule-ignore-when-left" {% if object.ignore_when_left %}checked{% endif %}> {% trans "En cochant cette case, vos réponses à ce questionnaire ne seront plus prises en compte si plus aucun personnage vous appartenant n'est présent sur la table. En pratique, cela signifie qu'il y a un risque pour que vos réponses puissent être devinées par les autres participants. Ne cochez cette case que si la table est constituée de personnes en qui vous avez confiance ou que vous pouvez aborder librement les sujets qui vous dérangent." %}</label>
            </div>
            <div class="text-right">
                <button type="button" role="button" class="btn btn-sm btn-info" id="btn-prefill"><i class="fa-solid fa-file-circle-plus"></i> {% trans "Ajouter des sujets pré-générés" %}</button>
            </div>
            <div id="question-list" class="text-center mt-2">
                <table id="topics" class="table table-sm table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th class="col-5 align-top" id="topic-name" scope="col">{% trans "Sujet" %}</th>
                            <th class="col-3 align-top" scope="col">
                                {% trans "Consentement" %}
                                <br>
                                <small class="text-muted">
                                    {% trans "Tout modifier pour..." %}
                                    <div class="btn-group btn-group-sm">
                                        <button role="button" type="button" target="0" class="global-setup btn btn-outline-danger"><i class="fa-solid fa-circle-xmark"></i></button>
                                        <button role="button" type="button" target="1" class="global-setup btn btn-outline-warning"><i class="fa-solid fa-circle-question"></i></button>
                                        <button role="button" type="button" target="2" class="global-setup btn btn-outline-success"><i class="fa-solid fa-circle-check"></i></button>
                                    </div>
                                </small>
                            </th>
                            <th class="col-3 align-top" scope="col">{% trans "Commentaires / Limites" %}</th>
                            <th class="col-1 align-top" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-altern">
                        {% for topic in object.topics_with_answer %}
                            <tr tid="{{ topic.id }}">
                                <td class="align-middle text-left" slugged="{{ topic.name|slugify }}" data-sort-value="{{ topic.name|slugify }}" target="topic-name">{% if topic.new %}<small><span class="badge float-right align-top badge-pill badge-danger">{% trans "New" %}</span></small> {% endif %}<span>{{ topic.name }}</span></td>
                                <td class="align-middle" target="consent">
                                    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-outline-danger {% if topic.user_answer and topic.user_answer.answer == 0 %}active{% endif %}">
                                            <input type="radio" name="consent-e-{{ topic.id }}" value="0" {% if topic.user_answer and topic.user_answer.answer == 0 %}checked{% endif %}><i class="fa-solid fa-circle-xmark"></i> {% trans "Non" %}
                                        </label>
                                        <label class="btn btn-outline-warning {% if topic.user_answer and topic.user_answer.answer == 1 %}active{% endif %}">
                                            <input type="radio" name="consent-e-{{ topic.id }}" value="1" {% if topic.user_answer and topic.user_answer.answer == 1 %}checked{% endif %}><i class="fa-solid fa-circle-question"></i> {% trans "À voir" %}
                                        </label>
                                        <label class="btn btn-outline-success {% if topic.user_answer and topic.user_answer.answer == 2 %}active{% endif %}">
                                            <input type="radio" name="consent-e-{{ topic.id }}" value="2" {% if topic.user_answer and topic.user_answer.answer == 2 %}checked{% endif %}><i class="fa-solid fa-circle-check"></i> {% trans "Oui" %}
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <textarea class="w-100" rows="3">{{ topic.user_answer.comment }}</textarea>
                                </td>
                                <td class="align-middle col-1">
                                    <div title="{% trans 'Le sujet ne sera supprimé que si toutes les personnes ayant répondu au formulaire, y compris vous, n\'ont aucun problème avec.' %}" class="btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-sm btn-outline-danger">
                                            <input type="checkbox"> <i class="fas fa-times"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4"><button class="btn btn-sm btn-info" role="button" type="button" id="add-topic" data-toggle="modal" data-target="#add-topic-modal"><i class="fa-solid fa-circle-plus"></i> {% trans "Ajouter un sujet" %}</button></td>
                        </tr>
                        <template id="tpl-new-topic">
                            <tr tid="0">
                                <td class="align-middle text-left" target="topic-name"><small><span class="badge float-right align-top badge-pill badge-danger">{% trans "New" %}</span></small> <span></span></td>
                                <td class="align-middle" target="consent">
                                    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-outline-danger" title="{% trans 'Sujet interdit, à n\'aborder/utiliser sous aucun prétexte, pas même sous couvert d\'humour.' %}">
                                            <input type="radio" name="consent-n-x" value="0"><i class="fa-solid fa-circle-xmark"></i> {% trans "Non" %}
                                        </label>
                                        <label class="btn btn-outline-warning active" title="{% trans 'Limites à discuter autour de la table, ne sait pas, OK si survolé, ...' %}">
                                            <input type="radio" name="consent-n-x" value="1" checked><i class="fa-solid fa-circle-question"></i> {% trans "À voir" %}
                                        </label>
                                        <label class="btn btn-outline-success" title="{% trans 'Sujet abordable, sans problème.' %}">
                                            <input type="radio" name="consent-n-x" value="2"><i class="fa-solid fa-circle-check"></i> {% trans "Oui" %}
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <textarea class="w-100" rows="3"></textarea>
                                </td>
                                <td class="align-middle col-1">
                                    <button title="{% trans 'Supprimer ce sujet' %}" role="button" type="button" class="btn btn-sm btn-outline-danger cancel-topic"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        </template>
                    </tfoot>
                </table>
                
            </div>
            <button type="submit" class="btn btn-success">{% trans "Enregistrer" %}</button>
        </form>
        <div class="modal fade" id="add-topic-modal" tabindex="-1" aria-labelledby="add-topic-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add-topic-modal-label">{% trans "Ajouter un sujet" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="add-topic-form" class="needs-validation" novalidate>
                            <div class="form-group">
                                <label for="topic-name-input" class="col-form-label col-form-label-sm">{% trans "Sujet :" %}</label>
                                <input type="text" autocomplete="off" class="form-control form-control-sm" id="topic-name-input" required>
                                <div class="invalid-feedback">
                                    {% trans "Le sujet doit au moins contenir une lettre autre qu'espace." %}
                                </div>
                            </div>
                            <div class="d-none">
                                <input type="submit" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Fermer" %}</button>
                        <button type="button" class="btn btn-success" id="submit-add-topic">{% trans "Ajouter" %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}