{% load i18n %}
{% load static %}

<div class="col-12">
	<h6>
		<div class="pretty p-icon p-smooth p-plain">
			<input type="checkbox" class="display-management" value=".tab-gauges" {% if ".tab-gauges" in classes_to_show %}checked{% endif %}/>
			<div class="state p-success-o">
				<i class="icon fa fa-bars-progress"></i>
				<label>{% trans 'Jauges/Compteurs perso' %}</label>
			</div>
		</div>
	</h6>
</div>

<div class="col-12">
	<table class="table table-sm">
		<thead class="thead-light">
			<tr>
				<th class="text-center" scope="col">{% trans "Nom" %}</th>
				<th class="text-center" scope="col">{% trans "Abbrev." %}</th>
				<th class="text-center" scope="col">{% trans "Couleur" %}</th>
				<th class="text-center" scope="col">{% trans "Max" %}</th>
				<th class="text-center" scope="col">{% trans "Défaut" %}</th>
				<th class="text-center" scope="col">{% trans "Reset" %}</th>
				<th class="text-center" scope="col">{% trans "Visible" %}</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody id="gauge-config-list">
			{% for gauge in gauges %}
				<tr gauge-id="{{ gauge.id }}">
					<td target="gauge-name"><input type="text" value="{{ gauge.name }}" class="form-control form-control-sm" maxlength="64"></td>
					<td target="gauge-abbrev"><input type="text" value="{{ gauge.abbrev }}" class="form-control form-control-sm " maxlength="5"></td>
					<td target="gauge-color"><input type="color" value="{{ gauge.color }}" class="form-control form-control-sm"></td>
					<td target="gauge-max"><input type="number" value="{{ gauge.max }}" class="form-control form-control-sm" min="0" max="65536"></td>
					<td target="gauge-default"><input type="number" value="{{ gauge.default }}" class="form-control form-control-sm" min="0" max="65536"></td>
					<td target="gauge-restore">
						<select class="form-control form-control-sm">
							<option value="m" {% if gauge.restore_when == 'm' %}selected{% endif %}>{% trans 'Mission (fin)' %}</option>
							<option value="b" {% if gauge.restore_when == 'b' %}selected{% endif %}>{% trans 'Combat (fin)' %}</option>
							<option value="n" {% if gauge.restore_when == 'n' %}selected{% endif %}>{% trans 'Jamais' %}</option>
						</select>
					</td>
					<td target="gauge-visibility" class="text-center">
						<div class="pretty p-icon p-toggle p-plain">
							{% with gauge_id='.custom-gauge'|add:gauge.id %}
								<input type="checkbox" class="display-management" value="{{ gauge_id }}" {% if gauge_id in classes_to_show %}checked{% endif %} />
							{% endwith %}
							<div class="state p-on p-success-o">
								<i class="icon fa fa-eye"></i>
							</div>
							<div class="state p-off p-danger-o">
								<i class="icon fa fa-eye-slash"></i>
							</div>
						</div>
					</td>
					<td target="gauge-delete">
						<div class="btn-group-toggle" data-toggle="buttons">
							<label class="btn btn-sm btn-outline-danger">
								<input type="checkbox"><i class="fa-solid fa-trash-alt"></i>
							</label>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<template id="gauge-config-template">
				<tr class="new-gauge">
					<td target="gauge-name"><input type="text" class="form-control form-control-sm" maxlength="64"></td>
					<td target="gauge-abbrev"><input type="text" class="form-control form-control-sm " maxlength="5"></td>
					<td target="gauge-color"><input type="color" class="form-control form-control-sm"></td>
					<td target="gauge-max"><input type="number" class="form-control form-control-sm" min="0" max="65536"></td>
					<td target="gauge-default"><input type="number" class="form-control form-control-sm" min="0" max="65536"></td>
					<td target="gauge-restore">
						<select class="form-control form-control-sm">
							<option value="m">{% trans 'Mission (fin)' %}</option>
							<option value="b">{% trans 'Combat (fin)' %}</option>
							<option value="n">{% trans 'Jamais' %}</option>
						</select>
					</td>
					<td target="gauge-visibility" class="text-center">
						<div class="pretty p-icon p-toggle p-plain">
							<input type="checkbox" class="display-management" value="" checked/>
							<div class="state p-on p-success-o">
								<i class="icon fa fa-eye"></i>
							</div>
							<div class="state p-off p-danger-o">
								<i class="icon fa fa-eye-slash"></i>
							</div>
						</div>
					</td>
					<td target="gauge-delete">
						<button type="button" role="button" class="btn btn-sm btn-outline-danger" onclick="virtual_table.config_gauge_del(this);"><i class="fa-solid fa-times"></i></button>
					</td>
				</tr>
			</template>
			<tr>
				<td colspan="8"><button class="w-100 btn btn-sm btn-outline-success" role="button" type="button" onclick="virtual_table.config_gauge_add();"><i class="fa-solid fa-plus-circle"></i></button></td>
			</tr>
		</tfoot>
	</table>
</div>
