{% load i18n %}
{% load static %}
{% load martortags %}

{% spaceless %}
    <div class="text-center">
        <h6>
            <span id="construction-points-span">
                {% trans "PCo :" %} {{ virtualtable.avalon.get_remaining_construction_points }}/<span class="total">{{ virtualtable.avalon.total_construction_points }}</span>
                {% if user == virtualtable.game_master %}
                    <button class="btn btn-sm" type="button" onclick="virtual_table.avalon_show_construction_points_form();"><i class="fas fa-pencil-alt"></i></button>
                {% endif %}
            </span>
            {% if user == virtualtable.game_master %}
                <form id="construction-points-form" onsubmit="virtual_table.avalon_update_construction_points(); return false;" style="display: none;">
                    <div class="form-group row justify-content-center">
                        <label for="construction-points-input" class="col-form-label col-form-label-sm col-1 text-right">{% trans "PCo :" %}</label>
                        <input type="number" class="numberinput form-control form-control-sm col-1" id="construction-points-input">
                        <button class="btn btn-sm btn-outline-success col-1" type="button" onclick="virtual_table.avalon_update_construction_points();"><i class="fas fa-check"></i></button>
                        <button class="btn btn-sm btn-outline-danger col-1" type="button" onclick="virtual_table.avalon_hide_construction_points_form();"><i class="fas fa-times"></i></button>
                    </div>
                </form>
            {% endif %}
        </h6>
    </div>
    <ul class="nav nav-tabs nav-fill" id="avalon-tab" role="tablist">
        <li class="nav-item customizable-display">
            <a class="nav-link px-1 active text-center" id="avalon-vote-tab" data-toggle="tab" href="#avalon-vote" role="tab" aria-controls="status{{ character.id }}" aria-selected="true">
                {% trans "Préférence" %}
            </a>
        </li>
        <li class="nav-item customizable-display">
            <a class="nav-link px-1 text-center" id="avalon-result-tab" data-toggle="tab" href="#avalon-result" role="tab" aria-controls="stock{{ character.id }}" aria-selected="true">
                {% trans "Classement de la table" %}
            </a>
        </li>
    </ul>
    <div class="tab-content mt-2" id="avalon-tab-content">
        <div class="tab-pane active show" id="avalon-vote" role="tabpanel" aria-labelledby="avalon-vote-tab">
            <div class="text-secondary text-justify">
                <p><small>
                    {% blocktrans %}
                        Les pré-requis sont les extensions restantes à construire pour permettre la construction de l'extension indiquée. Si les extensions nécessaires sont déjà construites, la colonne reste vide.
                    {% endblocktrans %}
                </small></p>
                <p><small>
                    {% blocktrans %}
                        Faites glisser l'icône <i class="fas fa-grip-lines"></i> ou utilisez les boutons <i class="fas fa-arrow-alt-circle-up"></i>/<i class="fas fa-arrow-alt-circle-down"></i> pour réorganiser le tableau dans votre ordre de préférence. Chaque fois que vous relâchez une ligne, le vote est enregistré et le classement recalculé en temps réel. Les extensions déjà construites sont indiquées en vert en bas du tableau.
                    {% endblocktrans %}
                </small></p>
            </div>
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="align-middle text-center">{% trans "Nom" %}</th>
                        <th class="align-middle text-center">{% trans "Effet" context "titre" %} <button id="avalon-toggle-fluff" class="btn btn-sm btn-info" onclick="virtual_table.avalon_toggle_fluff();" displayed-text="{% trans 'Cacher la description' %}" hidden-text="{% trans 'Afficher la description' %}"><i class="fas fa-eye-slash"></i>&nbsp;<span>{% trans "Cacher la description" %}</span></button></th>
                        <th class="align-middle text-center">{% trans "Pré-requis" %}</th>
                        <th class="align-middle text-center">{% trans "PCo" %}</th>
                    </tr>
                </thead>
                <tbody class="sortable">
                    {% for extension in virtualtable.avalon.ordered_extensions_by_user %}
                        <tr data-vtaeid="{{ extension.id }}" class="{% if extension.avalon_extension.cost == 0 %}drag-disabled{% endif %} {% if extension.built %}text-success{% endif %}">
                            <td class="p-2 align-middle text-center">
                                {% if extension.avalon_extension.cost > 0 %}
                                    <button type="button" class="btn btn-sm" onclick="virtual_table.avalon_move_extension_up(this);"><i class="fas fa-arrow-alt-circle-up"></i></button>
                                    <br>
                                    <i class="fas fa-grip-lines float-left"></i>
                                {% endif %}
                                {{ extension.avalon_extension.name }}
                                {% if extension.avalon_extension.cost > 0 %}
                                    <br>
                                    <button type="button" class="btn btn-sm" onclick="virtual_table.avalon_move_extension_down(this);"><i class="fas fa-arrow-alt-circle-down"></i></button>
                                {% endif %}
                            </td>
                            <td class="p-2 align-middle markdown-format text-justify">
                                <div class="avalon-extension-fluff mb-2">
                                    {{ extension.avalon_extension.description|safe_markdown }}
                                </div>
                                <div>
                                    {{ extension.avalon_extension.effect|safe_markdown }}
                                </div>
                            </td>
                            <td class="p-2 align-middle text-center {% if extension.built %}text-danger{% endif %}">{{ extension.get_remaining_prerequired_extensions_name }}</td>
                            <td class="p-2 align-middle text-center">{% if extension.built %}<i class="fas fa-check"></i>{% else %}{{ extension.avalon_extension.cost }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="avalon-result" role="tabpanel" aria-labelledby="avalon-result-tab">
            <div class="text-secondary text-justify">
                <p><small>
                    {% blocktrans %}
                        Les pré-requis sont les extensions restantes à construire pour permettre la construction de l'extension indiquée. Si les extensions nécessaires sont déjà construites, la colonne reste vide.
                    {% endblocktrans %}
                </small></p>
                {% if user == virtualtable.game_master %}
                <p><small>
                    {% blocktrans %}
                        Ce tableau recense l'ordre de préférence globale pour l'équipe. MJ, vous pouvez utiliser ce tableau pour construire ou détruire les extensions d'Avalon, influant ainsi directement sur le nombre de PCo restants. À noter qu'aucune vérification n'est effectuée au niveau des PCo restants ou des pré-requis pour voir si oui ou non vous pouvez construire une extension, afin de vous laisser une liberté totale sur la gestion.
                    {% endblocktrans %}
                </small></p>
                {% endif %}
            </div>
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center">{% trans "Nom" %}</th>
                        <th class="text-center">{% trans "Pré-requis" %}</th>
                        <th class="text-center">{% trans "PCo" %}</th>
                        <th class="text-center">{% trans "Vote" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for extension in virtualtable.avalon.get_ordered_extensions %}
                        <tr data-vtaeid="{{ extension.id }}" class="{% if extension.built %}text-success{% endif %}">
                            <td class="p-2 align-middle text-center">
                                {{ extension.avalon_extension.name }}
                            </td>
                            <td class="p-2 align-middle text-center {% if extension.built %}text-danger{% endif %}">{{ extension.get_remaining_prerequired_extensions_name }}</td>
                            <td class="p-2 align-middle text-center">{{ extension.avalon_extension.cost }}</td>
                            <td class="p-2 align-middle text-center">
                                {% if extension.built %}
                                    <i class="fas fa-check text-success"></i>
                                {% else %}
                                    {{ extension.get_avg_weight|floatformat:3 }}
                                {% endif %}
                                {% if user == virtualtable.game_master %}
                                    {% if extension.avalon_extension.cost > 0 %}
                                        <button class="btn btn-sm text-{% if extension.built %}danger{% else %}success{% endif %}" onclick="virtual_table.toggle_extension(this);"><i class="fas fa-{% if extension.built %}dumpster{% else %}hammer{% endif %}"></i> {% if extension.built %}{% trans "Détruire" %}{% else %}{% trans "Construire" %}{% endif %}</button>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% if user == virtualtable.game_master %}
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-justify text-secondary">
                            <p>
                                <small>
                                    {% blocktrans %}
                                        Les votes étant gérés par compte et non pas par personnage,si vous avez supprimé un personnage de cette table et que vous souhaitez que les votes de la personne n'ayant plus accès à la table soient supprimés, cliquez sur le bouton de réinitialisation. Chaque personne devra à nouveau organiser Avalon selon son ordre de priorité. Les constructions déjà faites ne sont pas modifiées.
                                    {% endblocktrans %}
                                </small>
                            </p>
                            <button class="btn btn-danger btn-sm" onclick="virtual_table.reset_votes();"><i class="fas fa-exclamation-triangle"></i> {% trans "Réinitialiser les votes" %}</button>
                        </td>
                    </tr>
                </tfoot>
                {% endif %}
            </table>
        </div>
    </div>
{% endspaceless %}
