{% extends "virtualtable/base.html" %}
{% load static %}
{% load martortags %}
{% load gm_extras %}
{% load i18n %}

{% block title %}{% trans "Table" %} {{ virtualtable.name }} - {% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'virtualtable/js/virtualtable.js' %}"></script>
    <script type="text/javascript" src="{% static 'virtualtable/js/jquery.sortable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'virtualtable/js/cytoscape.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'virtualtable/js/virtualtable.cytoscape.js' %}"></script>
    <script type="text/javascript" src="{% static 'virtualtable/js/cytoscape-layout-base.js' %}"></script>
    <script type="text/javascript" src="{% static 'virtualtable/js/cytoscape-avsdf-base.js' %}"></script>
    <script type="text/javascript" src="{% static 'virtualtable/js/cytoscape-avsdf.js' %}"></script>
    {% if virtualtable.game_master == user %}
        <script type="text/javascript" src="{% static 'virtualtable/js/cytoscape-cxtmenu.js' %}"></script>
    {% endif %}
{% endblock js %}

{% block content %}
{% if not virtualtable %}
    <h1 class="mt-3">{% trans "Erreur : Table inexistante ou privée" %}</h1>

    <p>
        {% trans "Impossible de rejoindre cette table. Vérifiez qu'elle existe et que vous en êtes soit le créateur, soit un joueur. Si elle existe, demandez à son créateur de régénérer le lien d'invitation et créez d'abord un personnage à cette table avant de chercher à la consulter." %}
    </p>
{% else %}
    <h1 class="text-center mt-3" data-vt="{{ virtualtable.id }}">{{ virtualtable.name }}</h1>
    {% if virtualtable.game_master == user %}
        <div class="row mt-3 mb-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        {% trans "Gestionnaire de dégâts" %}
                    </div>
                    <div class="card-body" id="damage-manager">
                        <div class="row pb-3">
                            <div class="col">
                                <button type="button" class="float-left btn m-0 align-middle btn-sm btn-warning" onclick="virtual_table.reset_damage_form();"><i class="fas fa-redo"></i> {% trans "Réinitialiser" %}</button>
                                <button type="button" class="float-right btn m-0 align-middle btn-sm btn-danger" onclick="virtual_table.hurt();"><i class="fas fa-biohazard"></i> {% trans "Appliquer" %} <i class="fas fa-biohazard"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg text-center">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="damage-value">{% trans "Dégâts" %}</label>
                                    </div>
                                    <input type="number" id="damage-value" class="numberinput form-control" aria-label="{% trans 'Dégâts' %}" aria-describedby="damage-value">
                                </div>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="damage-target">{% trans "Stat cible" %}</label>
                                    </div>
                                    <select class="custom-select" id="damage-target">
                                        <option value="hp">{% trans "Santé" %}</option>
                                        <option value="ap">{% trans "Armure" %}</option>
                                        <option value="ep">{% trans "Énergie" %}</option>
                                        <option value="hop">{% trans "Espoir" %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg text-center">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="damage-ignore-ff">{% trans "Ignore CdF" %}</label>
                                    </div>
                                    <div class="input-group-append">
                                        <div class="input-group-text input-group-fake">
                                            <input type="checkbox" id="damage-ignore-ff" aria-label="{% trans 'Ignore CdF' %}">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="damage-penetrating">{% trans "Pénétrant" %}</label>
                                    </div>
                                    <input type="number"  id="damage-penetrating" class="numberinput form-control" aria-label="{% trans 'Pénétrant' %}" aria-describedby="damage-penetrating">
                                </div>
                            </div>
                            <div class="col-12 col-lg text-center">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="damage-ignore-armour">{% trans "Ignore Armure" %}</label>
                                    </div>
                                    <div class="input-group-append">
                                        <div class="input-group-text input-group-fake">
                                            <input type="checkbox" id="damage-ignore-armour" aria-label="{% trans 'Ignore Armure' %}">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="damage-armour-piercing">{% trans "Perce armure" %}</label>
                                    </div>
                                    <input type="number"  id="damage-armour-piercing" class="numberinput form-control" aria-label="{% trans 'Perce armure' %}" aria-describedby="damage-armour-piercing">
                                </div>
                            </div>
                            <div class="col-12 col-lg text-center">
                                {% if virtualtable.active_aegis %}
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text damage-label" for="damage-aegis-active">{% trans "Égide active" %}</label>
                                        </div>
                                        <div class="input-group-append">
                                            <div class="input-group-text input-group-fake">
                                                <input type="checkbox" id="damage-aegis-active" aria-label="{% trans 'Égide active' %}">
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="damage-recoverable" data-toggle="tooltip" title="{% trans 'Uniquement sur PES ou PE, permet de récupérer 1D6 par tranche de 6 points perdus en fin de combat.' %}">{% trans "Récupérable ?" %}</label>
                                    </div>
                                    <div class="input-group-append">
                                        <div class="input-group-text input-group-fake">
                                            <input type="checkbox" id="damage-recoverable" aria-label="{% trans 'Récupérable' %}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pt-3"></div>
                            <div class="col-12 col-lg text-center">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="gm-die-number">{% trans "Lancer de dés" %}</label>
                                    </div>
                                    <input type="number"  id="gm-die-number" class="numberinput form-control die-number" min="0" max="999" aria-label="{% trans 'Nombre de dés' %}" placeholder="{% trans 'Nb dés' %}">
                                    <div class="input-group-append">
                                        <label class="input-group-text">D6</label>
                                    </div>
                                    <input type="number"  id="gm-bonus-number" class="numberinput form-control bonus-number" min="-999" max="999" aria-label="{% trans 'Overdrives' %}" placeholder="{% trans 'Bonus' %}">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary btn-share" data-toggle="button" title="{% trans 'Partager le résultat (si activé, le résultat sera inclus dans chaque historique de personnage)' %}">
                                            <i class="fas fa-share-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg text-center">
                                <div class="btn-group btn-group-sm w-100" role="group" aria-label="{% trans 'Test area'%}">
                                    <button type="button" class="btn btn-sm btn-success roll-cmb" onclick="virtual_table.roll_combo(this, true);"><i class="fas fa-dice"></i> {% trans "Combo" %}</button>
                                    <button type="button" class="btn btn-sm btn-success roll-spr" onclick="virtual_table.roll_support(this, true);" title="{% trans 'Aider au test d\'un autre chevalier. Conséquence : OD (bonus) désactivé, exploit désactivé, échec critique désactivé' %}"><i class="fas fa-people-carry"></i> {% trans "Support" %}</button>
                                    <button type="button" class="btn btn-sm btn-warning roll-dmg" onclick="virtual_table.roll_damage(this, true);"><i class="fas fa-skull"></i> {% trans "Dégâts" %}</button>
                                    <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#result-history-gm"><i class="fas fa-history"></i> {% trans "Histo" %}</button>
                                </div>
                            </div>
                            <div class="col-12 col-lg text-center result-last-test">
                                <span class="d-none special-effect fail"><i class="text-danger mr-1 fas fa-poo"></i> {% trans "Echec critique !" %} </span>
                                <span class="d-none special-effect exploit"><i class="text-success mr-1 fas fa-trophy"></i> {% trans "Exploit" %} - </span>
                                <span class="d-none special-effect combo"><i class="mr-1 fas fa-dice"></i></span>
                                <span class="d-none special-effect damage"><i class="text-warning mr-1 fas fa-skull"></i></span>
                                <span class="test-combo mr-1"></span>
                                <span class="test-result"></span>
                            </div>
                            <div class="col-12 pt-3"></div>
                            <div class="col-12 col-lg text-center">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text destiny-state-label" for="destiny-state">{% trans "Maître(sse) du destin" %}</label>
                                    </div>
                                    <select initial-value="{{ virtualtable.destiny_state }}" onchange="virtual_table.destiny_state();" class="custom-select" id="destiny-state">
                                        <option value="{% get_vt_destiny_state 'DESTINY_NONE' %}">{% trans "Inactif" %}</option>
                                        <option value="{% get_vt_destiny_state 'DESTINY_BLESS' %}">{% trans "Exploit" %}</option>
                                        <option value="{% get_vt_destiny_state 'DESTINY_CURSE' %}">{% trans "Échec critique" %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg text-center"></div>
                            <div class="col-12 col-lg text-center"></div>
                            <div class="col-12 col-lg text-center"></div>
                            <div class="col-12 pt-3">
                                <div class="row text-center">
                                    <div class="col">
                                        <button type="button" data-toggle="tooltip" data-html="true" class="btn btn-sm" onclick="virtual_table.kill_npc();" title="{% trans '<ul><li>Calcule les valeurs récupérables (PES et PE) pour les personnages sélectionnés</li></ul>' %}"><i class="fas fa-recycle"></i> {% trans 'Mort PNJ' %} <i class="fas fa-recycle"></i></button>
                                    </div>
                                    <div class="col">
                                        <button type="button" data-toggle="tooltip" data-html="true" class="btn btn-sm" onclick="virtual_table.end_battle();" title="{% trans '<ul><li>Calcule les valeurs récupérables (PES et PE) pour tous les personnages</li><li>(Psion) Remet à 0 les Points de Flux</li><li>(Warlock) Remet à 0 la difficulté du paradoxe temporel</li></ul>' %}"><i class="fas fa-medal"></i> {% trans 'Fin de combat' %} <i class="fas fa-medal"></i></button>
                                    </div>
                                    <div class="col">
                                        <button type="button" data-toggle="tooltip" data-html="true" class="btn btn-sm" onclick="virtual_table.open_reward();" title="{% trans '<ul><li>Restaure les PA, PS et PE</li><li>Calcule les valeurs récupérables (PES)</li><li>Ouvre le formulaire de distribution de PG et PX</li><li>(Psion) Remet à 0 les Points de Flux</li><li>(Shaman) Remet à 0 la difficulté d\'imprégnation</li><li>(Warlock) Remet à 0 la difficulté du paradoxe temporel</li></ul>' %}"><i class="fas fa-medkit"></i> {% trans 'Fin de mission' %} <i class="fas fa-medkit"></i> </button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal" id="result-history-gm" tabindex="-1" role="dialog" aria-labelledby="{% trans 'Historique des tests' %}" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{% trans 'Historique des tests du MJ' %}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="toggle-history-buttons">
                                                <button type="button" class="btn btn-info" onclick="virtual_table.toggle_history(this);" data-action="show"><i class="fas fa-eye"></i> {% trans 'Afficher tous les résultats' %}</button>
                                                <button type="button" class="btn btn-info d-none" onclick="virtual_table.toggle_history(this);" data-action="hide"><i class="fas fa-eye-slash"></i> {% trans 'Afficher les derniers résultats' %}</button>
                                            </div>
                                            <div class="history-results">
                                                {% for roll in virtualtable.get_last_gm_rolls %}
                                                    {% include 'virtualtable/vt_detail_roll.html' with roll=roll user=user character=None only %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="vtp-list" class="row mt-3">
        {% for character in virtualtable.players_list %}
            {% include 'virtualtable/vt_detail_character.html' %}
        {% endfor %}
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center position-relative">
                    <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapse-description" aria-expanded="false" aria-controls="collapse-description">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans "Informations sur la table" %}
                            <i class="fa fa-plus-square"></i>
                        </h5>
                    </a>
                </div>
                <div id="collapse-description" class="collapse" aria-labelledby="description">
                    <div id="vt-description" class="card-body">
                        <div class="text-right mb-2">
                            <div id="avalon-access" class="text-right p-2 {% if not virtualtable.active_avalon %}d-none{% else %}d-inline{% endif %}">
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#avalon"><i class="fa-solid fa-arrow-up-from-water-pump"></i> {% trans "Avalon" %}</button>
                            </div>
                            <div id="faction-access" class="text-right p-2 {% if not virtualtable.active_faction %}d-none{% else %}d-inline{% endif %}">
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#faction"><i class="fa-solid fa-handshake"></i> {% trans "Relations diplomatiques" %}</button>
                            </div>
                        </div>
                        <div>
                            <ul class="nav nav-tabs nav-justified" id="vt-informations-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="vt-informations-description-tab" data-toggle="tab" href="#vt-informations-description" role="tab" aria-controls="vt-informations-description" aria-selected="true">{% trans "Description" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="vt-informations-consent-tab" data-toggle="tab" href="#vt-informations-consent" role="tab" aria-controls="vt-informations-consent" aria-selected="true">{% trans "Consentement global" %}</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="vt-informations-tabs-content">
                                <div class="tab-pane fade text-justify" id="vt-informations-description" role="tabpanel" aria-labelledby="vt-informations-description-tab">
                                    {{ virtualtable.description|safe_markdown }}
                                </div>
                                <div class="tab-pane fade show active" id="vt-informations-consent" role="tabpanel" aria-labelledby="vt-informations-consent-tab">
                                    <div class="row my-2">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-sm btn-outline-danger w-100" onclick="virtual_table.stop_scene(event);"><i class="fa-solid fa-ban"></i> {% trans "Brandir la X-card (demande anonyme pour écourter la scène suite à une situation malaisante)" %} <i class="fa-solid fa-ban"></i></button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-center">
                                            <h6>{% trans "Sujets interdits" %}</h6>
                                        </div>
                                        <div class="col text-center">
                                            <h6>{% trans "Sujets à éviter" %}</h6>
                                        </div>
                                        <div class="col text-center">
                                            <h6>{% trans "Sujets consentis" %}</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-danger">
                                            <ul id="unsafe-topics">
                                                {% for topic in virtualtable.unsafe_topics %}
                                                    <li>{% if topic.comment %}<i class="fa-solid fa-comments consent-comment"><span class="d-none">{{ topic.comment|safe }}</span></i>{% endif %} <span>{{ topic.name }}</span></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col text-warning">
                                            <ul id="unknown-topics">
                                                {% for topic in virtualtable.unknown_topics %}
                                                <li>{% if topic.comment %}<i class="fa-solid fa-comments consent-comment"><span class="d-none">{{ topic.comment|safe }}</span></i>{% endif %} <span>{{ topic.name }}</span></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col text-success">
                                            <ul id="safe-topics">
                                                {% for topic in virtualtable.safe_topics %}
                                                <li>{% if topic.comment %}<i class="fa-solid fa-comments consent-comment"><span class="d-none">{{ topic.comment|safe }}</span></i>{% endif %} <span>{{ topic.name }}</span></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateValues" tabindex="-1" role="dialog" aria-labelledby="updateValuesLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateValuesLabel">{% trans "Modifier" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form data-vtp="" onsubmit="virtual_table.save(event);">
                        <div class="form-group">
                            <label for="current-value" class="col-form-label col-form-label-sm">{% trans "Valeur actuelle :" %}</label>
                            
                            <div class="input-group input-group-sm">
                                <input type="number" class="form-control" id="current-value">
                                <div class="input-group-append">
                                    <label class="input-group-text">+</label>
                                </div>
                                <input type="number" class="form-control" id="current-value-add" placeholder="{% trans '-x pour soustraire' %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="max-value" class="col-form-label col-form-label-sm" data-max-label="{% trans 'Valeur max :' %}" data-default-label="{% trans 'Valeur par défaut :' %}">{% trans "Valeur max :" %}</label>
                            <input type="number" class="numberinput form-control form-control-sm" id="max-value">
                        </div>
                        <div class="form-group recoverable">
                            <label for="recoverable-value" class="col-form-label col-form-label-sm">{% trans "Dégâts récupérables :" %}</label>
                            <input type="number" class="numberinput form-control form-control-sm" id="recoverable-value">
                        </div>
                        <div class="d-none">
                            <input type="submit" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-knightools-valid" onclick="virtual_table.save(event);">{% trans "Enregistrer" %}</button>
                    <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateName" tabindex="-1" role="dialog" aria-labelledby="updateNameLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateNameLabel">{% trans "Modifier le nom" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form data-vtp="" onsubmit="virtual_table.change_name(event);" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="vtp-name-value" class="col-form-label col-form-label-sm">{% trans "Nom :" %}</label>
                            <input type="text" class="form-control form-control-sm" id="vtp-name-value" required>
                            <div class="invalid-feedback">
                                {% trans "Le nom doit au moins contenir une lettre autre qu'espace." %}
                            </div>
                        </div>
                        <div class="d-none">
                            <input type="submit" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-knightools-valid" onclick="virtual_table.change_name();">{% trans "Enregistrer" %}</button>
                    <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="config-vtp" tabindex="-1" role="dialog" aria-labelledby="config-vtp-label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="config-vtp-label">{% trans "Paramétrer la fiche" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form data-vtp="" onsubmit="virtual_table.config_vtp(event);" class="needs-validation" novalidate>
                        <div class="row mb-3">
                            <div class="col-12">
                                <h6>
                                    <div class="pretty p-icon p-smooth p-plain">
                                        <input type="checkbox" class="display-management" value=".tab-status" />
                                        <div class="state p-success-o">
                                            <i class="icon fa fa-heartbeat"></i>
                                            <label>{% trans 'Statut' %}</label>
                                        </div>
                                    </div>
                                </h6>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-health-points" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "PS (Points de Santé)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "PS (Points de Santé)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-armour-points" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "PA (Points d'Armure)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "PA (Points d'Armure)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-energy-points" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "PE (Points d'Énergie)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "PE (Points d'Énergie)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-hope-points" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "PES (Points d'ESpoir)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "PES (Points d'ESpoir)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".counter-force-field" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "CdF (Champ de Force)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "CdF (Champ de Force)" %}</label>
                                    </div>
                                </div>
                            </div>
                            {% if virtualtable.active_aegis %}
                                <div class="col-6 mt-2">
                                    <div class="pretty p-icon p-toggle p-plain">
                                        <input type="checkbox" class="display-management" value=".counter-aegis" />
                                        <div class="state p-on p-success-o">
                                            <i class="icon fa fa-eye"></i>
                                            <label>{% trans "Egd (Égide)" %}</label>
                                        </div>
                                        <div class="state p-off p-danger-o">
                                            <i class="icon fa fa-eye-slash"></i>
                                            <label>{% trans "Egd (Égide)" %}</label>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-12 mt-2">
                                <div class="form-group row mb-0">
                                    <label class="col-sm-6 col-form-label col-form-label-sm" for="armour-bar">{% trans "Jauges d'armures" %}</label>
                                    <div class="col-sm-6">
                                        <select class="form-control form-control-sm" id="armour-bar">
                                            <option value="">Aucune</option>
                                            <option value=".armour-psion">{% trans "Psion" %}</option>
                                            <option value=".armour-shaman">{% trans "Shaman" %}</option>
                                            <option value=".armour-warlock">{% trans "Warlock" %}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <h6>
                                    <div class="pretty p-icon p-smooth p-plain">
                                        <input type="checkbox" class="display-management" value=".tab-stock" />
                                        <div class="state p-success-o">
                                            <i class="icon fa fa-toolbox"></i>
                                            <label>{% trans 'Stock' %}</label>
                                        </div>
                                    </div>
                                </h6>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-health-nods" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "Nod S (Nods de Santé)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "Nod S (Nods de Santé)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-armour-nods" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "Nod A (Nods d'Armure)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "Nod A (Nods d'Armure)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-energy-nods" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "Nod E (Nods d'Énergie)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "Nod E (Nods d'Énergie)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-grenades-stock" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "Gr. I (Grenades Intelligentes)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "Gr. I (Grenades Intelligentes)" %}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <h6>
                                    <div class="pretty p-icon p-smooth p-plain">
                                        <input type="checkbox" class="display-management" value=".tab-legend" />
                                        <div class="state p-success-o">
                                            <i class="icon fa fa-trophy"></i>
                                            <label>{% trans 'Légende' %}</label>
                                        </div>
                                    </div>
                                </h6>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-hero-points" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "PH (Points d'Héroïsme)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "PH (Points d'Héroïsme)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-glory-points" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "PG (Points de Gloire)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "PG (Points de Gloire)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-experience-points" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "PX (Points d'eXpérience)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "PX (Points d'eXpérience)" %}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" id="configure-custom-gauge"></div>
                        {% if virtualtable.game_master == user %}
                            <div class="row">
                                <div class="col-12">
                                    <h6>{% trans 'Configuration fiche' %}</h6>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="pretty p-icon p-toggle p-plain">
                                        <input type="checkbox" id="ignore-health-loss-by-armour" />
                                        <div class="state p-on p-success-o">
                                            <i class="icon fa fa-check-square"></i>
                                            <label>{% trans "Avantage «Infatigable» (ignore la perte de PS sur les pertes de PA)" %}</label>
                                        </div>
                                        <div class="state p-off p-danger-o">
                                            <i class="icon fa fa-ban"></i>
                                            <label>{% trans "Avantage «Infatigable» (ignore la perte de PS sur les pertes de PA)" %}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-6 col-form-label col-form-label-sm" for="edit-level">{% trans "Modifiable par" %}</label>
                                        <div class="col-sm-6">
                                            <select class="form-control form-control-sm" id="edit-level">
                                                <option value="{% get_vtp_edit_lvl 'EDIT_LVL_GM' %}"><i class="fas fa-user-shield"></i> {% trans "MJ Uniquement" %}</option>
                                                <option value="{% get_vtp_edit_lvl 'EDIT_LVL_PLAYER' %}"><i class="fas fa-user-friends"></i> {% trans "MJ et propriétaire" %}</option>
                                                <option value="{% get_vtp_edit_lvl 'EDIT_LVL_ALL' %}"><i class="fas fa-globe"></i> {% trans "Tout le monde" %}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {% if user.is_gest_game_master %}
                                    <div class="col-12 mt-2">
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-6 col-form-label col-form-label-sm" for="gest-advantage">{% trans "Avantage Geste" %}</label>
                                            <div class="col-sm-6">
                                                <select class="form-control form-control-sm" id="gest-advantage">
                                                    <option value="{% get_vtp_gest_advantage 'GEST_ADVANTAGE_NONE' %}" title="{% trans 'Gestion classique des jets' %}"><i class="fas fa-ban"></i> {% trans "Aucun" %}</option>
                                                    <option value="{% get_vtp_gest_advantage 'GEST_ADVANTAGE_BALANCE' %}" title="{% trans 'Chevalier de l\'équilibre : Les jets de combo ne donnant pas de succès sont relancés une seule fois' %}"><i class="fas fa-balance-scale"></i> {% trans "Chevalier de l'équilibre" %}</option>
                                                    <option value="{% get_vtp_gest_advantage 'GEST_ADVANTAGE_LIGHT' %}" title="{% trans 'Chevalier de la lumière : Les jets de dégâts inférieurs à 4 sont transformés en 4' %}"><i class="fas fa-sun"></i> {% trans "Chevalier de la lumière" %}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="d-none">
                            <input type="submit" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-knightools-valid" onclick="virtual_table.config_vtp(event);">{% trans "Enregistrer" %}</button>
                    <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="rewards" tabindex="-1" role="dialog" aria-labelledby="rewards-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rewards-label">{% trans "Récompenses" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form onsubmit="virtual_table.end_mission(event);" class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-6 text-left">
                                <button role="button" type="button" class="btn btn-sm btn-outline-danger" onclick="virtual_table.change_end_mission_checkboxes(false);"><i class="fa-solid fa-circle-xmark"></i> {% trans "Tout décocher" %}</button>
                            </div>
                            <div class="col-6 text-right">
                                <button role="button" type="button" class="btn btn-sm btn-outline-success" onclick="virtual_table.change_end_mission_checkboxes(true);"><i class="fa-solid fa-circle-check"></i> {% trans "Tout cocher" %}</button>
                            </div>
                            <div class="col-12 mt-2 text-center">
                                <span>{% trans "Restaurer..." %}</span>
                            </div>
                            <div class="form-check col-4">
                                <div class="ml-3">
                                    <input class="form-check-input end-mission-checkbox" type="checkbox" checked value="restore-health-points" id="end-mission-restore-hp">
                                    <label class="form-check-label" for="end-mission-restore-hp">{% trans "PS" %}</label>
                                </div>
                            </div>
                            <div class="form-check col-4">
                                <div class="ml-3">
                                    <input class="form-check-input end-mission-checkbox" type="checkbox" checked value="restore-armour-points" id="end-mission-restore-ap">
                                    <label class="form-check-label" for="end-mission-restore-ap">{% trans "PA" %}</label>
                                </div>
                            </div>
                            <div class="form-check col-4">
                                <div class="ml-3">
                                    <input class="form-check-input end-mission-checkbox" type="checkbox" checked value="restore-energy-points" id="end-mission-restore-ep">
                                    <label class="form-check-label" for="end-mission-restore-ep">{% trans "PE" %}</label>
                                </div>
                            </div>
                            <div class="form-check col-4">
                                <div class="ml-3">
                                    <input class="form-check-input end-mission-checkbox" type="checkbox" checked value="restore-health-nod" id="end-mission-restore-hn">
                                    <label class="form-check-label" for="end-mission-restore-hn">{% trans "Nods S" %}</label>
                                </div>
                            </div>
                            <div class="form-check col-4">
                                <div class="ml-3">
                                    <input class="form-check-input end-mission-checkbox" type="checkbox" checked value="restore-armour-nod" id="end-mission-restore-an">
                                    <label class="form-check-label" for="end-mission-restore-an">{% trans "Nods A" %}</label>
                                </div>
                            </div>
                            <div class="form-check col-4">
                                <div class="ml-3">
                                    <input class="form-check-input end-mission-checkbox" type="checkbox" checked value="restore-energy-nod" id="end-mission-restore-en">
                                    <label class="form-check-label" for="end-mission-restore-en">{% trans "Nods E" %}</label>
                                </div>
                            </div>
                            <div class="form-check col-4">
                                <div class="ml-3">
                                    <input class="form-check-input end-mission-checkbox" type="checkbox" checked value="restore-grenade-stock" id="end-mission-restore-ig">
                                    <label class="form-check-label" for="end-mission-restore-ig">{% trans "Gren. I." %}</label>
                                </div>
                            </div>
                            <div class="form-check col-8">
                                <div class="ml-3">
                                    <input class="form-check-input end-mission-checkbox" type="checkbox" checked value="regen-recoverable-damage" id="end-mission-restore-enhop">
                                    <label class="form-check-label" for="end-mission-restore-enhop">{% trans "Dégâts récupérables" %}</label>
                                </div>
                            </div>
                            <div class="col-12 mt-2 text-center">{% trans "Réinitialiser..." %}</div>
                            <div class="form-check col-4">
                                <div class="ml-3">
                                    <input class="form-check-input end-mission-checkbox" type="checkbox" checked value="reset-flux-points" id="end-mission-reset-flux">
                                    <label class="form-check-label" for="end-mission-reset-flux">{% trans "Flux" %}</label>
                                </div>
                            </div>
                            <div class="form-check col-4">
                                <div class="ml-3">
                                    <input class="form-check-input end-mission-checkbox" type="checkbox" checked value="reset-impregnation-difficulty" id="end-mission-reset-impd">
                                    <label class="form-check-label" for="end-mission-reset-impd">{% trans "Diff Imp." %}</label>
                                </div>
                            </div>
                            <div class="form-check col-4">
                                <div class="ml-3">
                                    <input class="form-check-input end-mission-checkbox" type="checkbox" checked value="reset-time-paradox-difficulty" id="end-mission-reset-pard">
                                    <label class="form-check-label" for="end-mission-reset-pard">{% trans "Prdx" %}</label>
                                </div>
                            </div>
                            <div class="form-check col-8">
                                <div class="ml-3">
                                    <input class="form-check-input end-mission-checkbox" type="checkbox" checked value="reset-custom-gauge-battle" id="end-mission-custom-gauge-battle">
                                    <label class="form-check-label" for="end-mission-custom-gauge-battle">{% trans "Jauges perso (combat)" %}</label>
                                </div>
                            </div>
                            <div class="form-check col-8">
                                <div class="ml-3">
                                    <input class="form-check-input end-mission-checkbox" type="checkbox" checked value="reset-custom-gauge-mission" id="end-mission-custom-gauge-mission">
                                    <label class="form-check-label" for="end-mission-custom-gauge-mission">{% trans "Jauges perso (mission)" %}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col">
                                <div class="form-group">
                                    <label for="reward-gp" class="col-form-label col-form-label-sm text-center">{% trans "PG (gloire) :" %}</label>
                                    <input type="number" class="numberinput form-control form-control-sm sync-reward" id="reward-gp" min="0">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="reward-xp" class="col-form-label col-form-label-sm text-center">{% trans "PX (expérience) :" %}</label>
                                    <input type="number" class="numberinput form-control form-control-sm sync-reward" id="reward-xp" min="0">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="reward-hep" class="col-form-label col-form-label-sm text-center">{% trans "PH (héroïsme) :" %}</label>
                                    <input type="number" class="numberinput form-control form-control-sm sync-reward" id="reward-hep" min="0">
                                </div>
                            </div>
                            <div class="col-12">
                                <h4>
                                    <i class="fa-solid fa-arrow-down"></i>
                                </h4>
                            </div>
                        </div>
                        <div>
                            <table class="table table-sm">
                                <thead class="text-center">
                                    <tr>
                                        <th>{% trans "Perso" %}</th>
                                        <th>{% trans "PG" %}</th>
                                        <th>{% trans "PX" %}</th>
                                        <th>{% trans "PH" %}</th>
                                    </tr>
                                </thead>
                                <tbody id="rewards-players"></tbody>
                                <template id="reward-template">
                                    <tr>
                                        <td class="align-middle name"></td>
                                        <td class="align-middle"><input type="number" class="numberinput form-control form-control-sm" value="0" data-source="reward-gp" min="0"></td>
                                        <td class="align-middle"><input type="number" class="numberinput form-control form-control-sm" value="0" data-source="reward-xp" min="0"></td>
                                        <td class="align-middle"><input type="number" class="numberinput form-control form-control-sm" value="0" data-source="reward-hep" min="0"></td>
                                    </tr>
                                </template>
                            </table>
                        </div>
                        <div class="d-none">
                            <input type="submit" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-knightools-valid" onclick="virtual_table.end_mission(event);">{% trans "Enregistrer" %}</button>
                    <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="avalon" tabindex="-1" role="dialog" aria-labelledby="avalon-label" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="avalon-label">{% trans "Gestion d'Avalon" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include 'virtualtable/vt_detail_avalon.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="faction" tabindex="-1" role="dialog" aria-labelledby="faction-label" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="faction-label">
                        <span>{% trans "Relations diplomatiques" %}</span>
                        {% if virtualtable.game_master == user %}
                            <button type="button" class="btn btn-sm" onclick="virtual_table_cy.toggle_settings();">
                                <span><i class="fa-solid fa-cog"></i></span>
                            </button>
                        {% endif %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" id="faction-overview">
                        <div class="col-9">
                            <div id="cy"></div>
                        </div>
                        <div class="col-3">
                            <div id="faction-informations">
                                {% if virtualtable.game_master == user %}
                                    <div class="btn-group-toggle text-right mr-2 mt-2" data-toggle="buttons">
                                        <label class="btn btn-sm btn-secondary">
                                            <input type="checkbox" id="faction-force-pc-view" autocomplete="off" onchange="virtual_table_cy.refresh();"> <i class="fa-solid fa-eye"></i> {% trans "Vue PJ" %}
                                        </label>
                                    </div>
                                {% endif %}
                                <h5><span id="faction-relation-title"></span> <span style="display: none;" class="badge badge-pill badge-danger faction-gm-badge">{% trans "MJ" %}</span></h5>
                                <div class="mb-3 d-none">
                                    <h6>{% trans "Affinité de vos personnages" %}</h6>
                                    <small class="text-muted font-italic">{% trans "Le détail des affinités est visible par le MJ" %}</small>
                                    <div id="faction-character-affinity"></div>
                                </div>
                                <div class="mb-3 d-none">
                                    <h6>{% trans "Affinités" %}</h6>
                                    <div id="faction-character-vote-overview"></div>
                                    <small class="text-muted font-italic">{% trans "La moyenne se fait sur tous les personnages de la table, mais seuls les personnages ayant voté sont affichés" %}</small>
                                </div>
                                <div class="mb-3">
                                    <h6>{% trans "Résumé" %}</h6>
                                    <div unselected-text="{% trans 'Aucune faction sélectionnée...' %}" none-text="{% trans '-' %}" id="faction-public-resume">{% trans 'Aucune faction sélectionnée...' %}</div>
                                </div>
                                <div class="mb-3">
                                    <h6>{% trans "Secrets découverts" %}</h6>
                                    <div unselected-text="{% trans 'Aucune faction sélectionnée...' %}" none-text="{% trans '-' %}" id="players-discovered-secrets">{% trans 'Aucune faction sélectionnée...' %}</div>
                                </div>
                                <div style="display: none;">
                                    <h6>{% trans "Effet(s)" %} <span class="badge badge-pill badge-danger faction-gm-badge">{% trans "MJ" %}</span></h6>
                                    <div id="faction-effect"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if virtualtable.game_master == user %}
                        <div class="row d-none" id="faction-settings">
                            <div class="col-12">
                                <div class="row border border-secondary p-1 m-1">
                                    <div class="col-12">
                                        <h6>{% trans "Système d'affinité" %}</h6>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" {% if not virtualtable.faction_settings or virtualtable.faction_settings.enable_vote_system %}checked{% endif %} id="faction-settings-enable-vote-system">
                                            <label class="form-check-label" for="faction-settings-enable-vote-system">{% trans "Activer" %}</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="font-italic text-justify">
                                            <p>
                                                {% blocktrans trimmed %}
                                                    Le système d'affinité permet aux utilisateurs de voter l'affinité qu'ont chacun de leurs personnages pour les factions présentes. La moyenne du vote de tous les personnages (exceptés ceux exclus par le champ ci-dessous) met à jour automatiquement la relation de la coterie vers la faction votée.
                                                {% endblocktrans%}
                                            </p>
                                            <p>
                                                {% blocktrans trimmed %}
                                                    Exemple : Arthur, Bohort, Kay et Bédivère viennent de faire une mission qui peut influer leur avis sur le Nodachi. Arthur met une affinité à 1 et Bédivère à -7. Kay est sur la blacklist et ne sera donc pas comptée. Bohort n'a jamais voté et ne compte pas le faire. La moyenne d'affinité des PJs vers le Nodachi est de (1 + -7) ÷ 3, soit -2. La relation de la faction des PJ vers le Nodachi est automatiquement mise à jour avec cette nouvelle valeur.
                                                {% endblocktrans%}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <label>{% trans "Blacklist" %}</label>
                                        <div class="btn-group-vertical btn-group-sm btn-group-toggle" data-toggle="buttons">
                                            {% for character in virtualtable.players_list %}
                                                <label class="faction-settings-vote-blacklist btn btn-outline-danger {% if character in virtualtable.faction_settings.vote_blacklist.all %}active{% endif %}">
                                                    <input type="checkbox" value="{{ character.pk }}" {% if character in virtualtable.faction_settings.vote_blacklist.all %}checked{% endif %} autocomplete="off"> {{ character.name }}
                                                </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <button class="btn btn-success" type="button" onclick="virtual_table_cy.save_settings();"><i class="fa-solid fa-check"></i> {% trans "Enregistrer" %}</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="x-card" tabindex="-1" role="dialog" aria-labelledby="x-card-label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="x-card-label">{% trans "X-Card" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-justify">
                        <p>{% blocktrans %}Une X-Card a été brandie par quelqu'un autour de la table. Cela signifie qu'une personne n'est pas à l'aise, ne s'amuse pas avec ce qui est en train de se passer.{% endblocktrans %}</p>
                        <h6>{% blocktrans %}Comment bien réagir ?{% endblocktrans %}</h6>
                        <p>{% blocktrans %}La bonne chose à faire est de couper court à la scène, via une ellipse par exemple.{% endblocktrans %}</p>
                        <p>{% blocktrans %}<strong>Important</strong> : il ne faut pas chercher qui a utilisé la X-Card ! La X-Card est anonyme pour une bonne raison. Si la personne l'ayant fait le souhaite, elle pourra expliquer ce qui la mettait mal à l'aise lors du debrief de la partie, mais rien ne l'y oblige, ni même à dire que c'est elle qui a brandi la X-Card. Restons dans un environnement sain.{% endblocktrans %}</p>
                        <p class="text-muted"><em>{% blocktrans %}Rappel : les participants de la table sont invités à renseigner, toujours anonymement, le formulaire de consentement une fois la partie terminée pour y indiquer un sujet vous mettant mal à l'aise et ainsi éviter en amont l'inclusion de ce genre de scène pour les prochaines parties.{% endblocktrans %}</em></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                </div>
            </div>
        </div>
    </div>
    {% if virtualtable.active_faction and virtualtable.game_master == user %}
        <div class="modal fade" id="faction-relations" tabindex="-1" role="dialog" aria-labelledby="faction-relations-label" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="faction-relations-label">{% trans "Modification relations" %} <span id="faction-relations-label-name"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-knightools-valid" onclick="virtual_table_cy.save_relations();">{% trans "Enregistrer" %}</button>
                        <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="faction-form" tabindex="-1" role="dialog" aria-labelledby="faction-form-label" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="faction-form-label">{% trans "Édition de faction" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-knightools-valid" onclick="virtual_table_cy.save_node();">{% trans "Enregistrer" %}</button>
                        <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirm-delete-faction" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-faction-label" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirm-delete-faction-label">{% trans "Confirmer" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            {% blocktrans %}Vous allez supprimer une faction, ainsi que ses effets et ses relations avec les autres factions. Cette action n'est pas récupérable. Voulez-vous vraiment supprimer cette faction ?{% endblocktrans %}
                        </div>
                        <div class="text-muted"><small>{% blocktrans %}Note : si vous supprimez une des factions officielles, vous pourrez toujours la récupérer en re-faisant l'import <i class="fa-solid fa-cloud-arrow-down"></i>{% endblocktrans %}</small></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-knightools-valid" onclick="virtual_table_cy.delete_node();">{% trans "Supprimer" %}</button>
                        <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Annuler" %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% endblock %}
