{% load i18n %}
{% load static %}

{% if roll.combo %}
	<div class="">
		{% if roll.virtual_table_gm.game_master == user or character.player == user %}
			<button class="btn btn-sm btn-outline-success px-2 mr-1 redo-roll" {% if roll.virtual_table_gm and character is not None %}disabled{% endif %} data-roll-type="roll-{% if roll.response.support %}spr{% else %}cmb{% endif %}" data-die="{{ roll.response.dice }}" data-bonus="{{ roll.response.od }}" data-public="{{ roll.public|lower }}" type="button"><i class="fas fa-{% if roll.virtual_table_gm and character is not None %}times{% else %}redo-alt{% endif %}"></i></button>
		{% endif %}
		<span class="mx-2"><i class="fas fa-{% if roll.virtual_table_gm and character is not None %}book-reader{% else %}share-alt{% endif %} {% if roll.public %}text-primary{% else %}text-secondary{% endif %}"></i></span>
		<span class="mr-2 utc_timestamp">{{ roll.datetime.isoformat }}</span>
		{% if roll.response.fail %}
			<span class="special-effect fail"><i class="text-danger mr-1 fas fa-poo"></i> {% trans "Echec critique !" %} </span>
		{% elif roll.response.exploit %}
			<span class="special-effect exploit"><i class="text-success mr-1 fas fa-trophy"></i> {% trans "Exploit" %} - </span>
		{% elif roll.response.support %}
			<span class="special-effect combo"><i class="mr-1 fas fa-people-carry"></i></span>
		{% else %}
			<span class="special-effect combo"><i class="mr-1 fas fa-dice"></i></span>
		{% endif %}
		<span class="test-combo mr-1">[{{ roll.response.dice }}D6{% if roll.response.od %} + {{ roll.response.od }}OD{% endif %}]</span>
		<span class="test-result">{% if not roll.response.fail %}{% if roll.response.support %}+{% endif %}{{ roll.response.success }} succès : {% endif %}{{ roll.get_displayed_dice|safe }}</span>
	</div>
{% else %}
	<div class="">
		{% if roll.virtual_table_gm.game_master == user or character.player == user %}
			<button class="btn btn-sm btn-outline-success px-2 mr-1 redo-roll" {% if roll.virtual_table_gm and character is not None %}disabled{% endif %} data-roll-type="roll-dmg" data-die="{{ roll.response.dice }}" data-bonus="{{ roll.response.bonus }}" data-public="{{ roll.public|lower }}" type="button"><i class="fas fa-{% if roll.virtual_table_gm and character is not None %}times{% else %}redo-alt{% endif %}"></i></button>
		{% endif %}
		<span class="mx-2"><i class="fas fa-{% if roll.virtual_table_gm and character is not None %}book-reader{% else %}share-alt{% endif %} {% if roll.public %}text-primary{% else %}text-secondary{% endif %}"></i></span><!--
		--><span class="mr-2 utc_timestamp">{{ roll.datetime.isoformat }}</span><!--
		--><span class="special-effect damage"><i class="text-warning mr-1 fas fa-skull"></i></span><!--
		--><span class="test-combo mr-1">[{{ roll.response.dice }}D6{% if roll.response.bonus != 0 %}{% if roll.response.bonus > 0 %}+{% endif %}{{ roll.response.bonus }}{% endif %}]</span><!--
		--><span class="test-result">{% if roll.response.damage > 0 %}{{ roll.response.damage }}{% else %}0{% endif %} {% if roll.response.stronger_damage != roll.response.damage %}({{ roll.response.stronger_damage }}){% endif %} {{ roll.get_displayed_dice|safe }}</span>
	</div>
{% endif %}