{% load i18n %}

<div class="text-justify pr-2 flip-card-container">
  {% if effect.gm and effect.memo %}
    {% if effect.title or effect.desc %}
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <button class="btn btn-sm btn-info toggle-faction-memo-description">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
              <strong>{% trans "Voir description" %}</strong>
            </button>
            <br>
            <p>
              <strong>{% trans "Memo :" %}</strong> {{ effect.memo}}
            </p>
          </div>
          <div class="flip-card-back">
            <button class="btn btn-sm btn-info toggle-faction-memo-description">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
              <strong>{% trans "Voir memo" %}</strong>
            </button>
            <br>
            <p class="font-italic"><strong>{{ effect.title }}</strong> - {{ effect.desc }}</p>
          </div>
        </div>
      </div>
      
    {% else %}
      <p>
        <strong>{% trans "Memo :" %}</strong> {{ effect.memo}}
      </p>
    {% endif %}
  {% else %}
    <p class="font-italic"><strong>{{ effect.title }}</strong> - {{ effect.desc }}</p>
  {% endif %}
</div>