{% load i18n %}

{% for player in players %}
    <div class="form-group row">
        <label for="faction-affinity-{{ player.id }}" class="col-sm-12 col-form-label col-form-label-sm">{{ player.name }}</label>
        <div class="col-sm-11">
            <select id="faction-affinity-{{ player.id }}" class="form-control form-control-sm" pid="{{ player.id }}" onchange="virtual_table_cy.change_affinity(this);">
                <option value="-9">-9 ({% trans "Némésis, attaque à vue" %})</option>
                <option value="-8">-8</option>
                <option value="-7">-7</option>
                <option value="-6">-6</option>
                <option value="-5">-5 ({% trans "Animosité prononcée" %})</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1 ({% trans "Rivalité, suspicion, méfiance" %})</option>
                <option value="0>" selected>0 ({% trans "Indifférence" %})</option>
                <option value="1">1 ({% trans "Intérêts communs" %})</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 ({% trans "Bonne entente, partage d'informations" %})</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9 ({% trans "Confiance absolue" %})</option>
            </select>
        </div>
    </div>
{% endfor %}