{% load i18n %}
{% load static %}

<form class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="faction-form-name">{% trans "Nom" %}</label>
                </div>
                <input type="text" autocomplete="off" id="faction-form-name" class="form-control " placeholder="Nodachi" aria-describedby="faction-form-name">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="faction-form-original-faction">{% trans "Synchro sur..." %}</label>
                </div>
                <select id="faction-form-original-faction" aria-describedby="faction-form-original-faction-help" class="custom-select">
                    <option value="0" initial-logo-preview="{% static 'gm/img/faction_logo/noun-agent-1781609.png' %}" selected>Aucune...</option>
                    {% for faction in factions %}
                        <option value="{{ faction.id }}" initial-logo-preview="{% with 'gm/img/faction_logo/'|add:faction.logo_file_name as image_src %}{% static image_src %}{% endwith %}">{{ faction.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <small id="faction-form-original-faction-help" class="form-text text-muted">{% blocktrans %}La synchronisation aura un impact si vous retentez d'importer (<i class="fa-solid fa-cloud-arrow-down"></i>) les données initiales : les factions synchronisées sur une des factions originales du jeu verront leurs données écrasées.{% endblocktrans %}</small>
        </div>
        <div class="col-1 my-3">
            <img id="logo-preview" class="mw-100 rounded-circle logo-preview" initial-custom-src="{% if node.logo_file %}{{ node.logo_file.url }}{% endif %}" src="{% spaceless %}
            {% if node.logo_file %}
                {{ node.logo_file.url }}
            {% elif node.faction %}
                {% with 'gm/img/faction_logo/'|add:node.faction.logo_file_name as image_src %}
                {% static image_src %}
                {% endwith %}
            {% else %}
                {% static 'gm/img/faction_logo/noun-agent-1781609.png' %}
            {% endif %}{% endspaceless %}">
        </div>
        <div class="{% if node.logo_file %}col-8{% else %}col-11{% endif %} align-self-center">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="faction-form-logo" accept="image/*" onchange="virtual_table_cy.preview_logo();">
                <label class="custom-file-label" for="faction-form-logo" data-browse="{% trans 'Ouvrir' %}">{% trans "Choisir un logo..." %}</label>
                <small id="faction-form-original-faction-help" class="form-text text-muted">{% trans "L'image doit être avec l'extension png ou jpg. Taille maximum : 200 pixels de haut et de large." %}</small>
            </div>
        </div>
        {% if node.logo_file %}
        <div class="col-3 align-self-center">
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="faction-form-reset-logo">
                <label class="form-check-label" for="faction-form-reset-logo"><small>{% trans "Supprimer le logo personnalisé" %}</small></label>
            </div>
        </div>
        {% endif %}
        
        <div class="col-12"></div>
        
        <div class="col-12 col-md-6 align-self-center">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="faction-form-public-description" class="input-group-text">{% trans "Info PJ" %}</label>
                </div>
                <textarea class="form-control" rows="5" id="faction-form-public-description" aria-label="{% trans 'Info PJ' %}"></textarea>
            </div>
        </div>
        
        <div class="col-12 col-md-6 align-self-center">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="faction-form-gm-description" class="input-group-text">{% trans "Info MJ" %}</label>
                </div>
                <textarea class="form-control" rows="5" id="faction-form-gm-description" aria-label="{% trans 'Info MJ' %}"></textarea>
            </div>
        </div>
        
        <div class="col-12 mt-2">
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="faction-form-pc-faction">
                <label class="form-check-label" for="faction-form-pc-faction">{% trans "Faction des PJs ?" %} <small class="text-muted">{% blocktrans %}Note : La faction des PJs est celle centrée lorsqu'aucune autre faction n'est sélectionnée. C'est aussi la faction qui aura la possibilité d'afficher les effets des autres factions. De fait, il est inutile de mettre des effets sur la faction des PJs elle-même, vu qu'ils ne seront jamais visibles (il n'y a pas de relation ayant comme source et comme cible la même faction). Il ne peut y avoir qu'une seule faction des PJs par table, si une autre faction a cette case cochée, elle ne sera plus considérée comme faction des PJs. {% endblocktrans %}</small></label>
            </div>
        </div>
        <div class="col-12" id="effects-form">
            <template id="template-effect-form">
                <div class="row effect-form-row">
                    <div class="col-12 text-center"><div class="knight-hr my-3 d-inline-block w-50"></div></div>
                    <div class="col-12 text-right">
                        <button type="button" class="btn btn-sm btn-link" onclick="virtual_table_cy.delete_effect(this);"><i class="fa-solid fa-trash-alt text-danger"></i></button>
                    </div>
                    <div class="col-12 col-md-2 pb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{% trans "Niv." %}</span>
                            </div>
                            <input name="level" type="number" class="numberinput form-control" min="-9" max="9" oninput="virtual_table_cy.check_level_validity(this);" required>
                            <div class="invalid-feedback">{% trans "Doit être renseigné et unique pour la faction" %}</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{% trans "Relation" %}</span>
                            </div>
                            <input class="form-control " name="level_name" type="text" autocomplete="off" placeholder="{% trans 'Nom relation' %}" required>
                            <div class="invalid-feedback">{% trans "Doit être renseigné" %}</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{% trans "Effet" context "titre" %}</span>
                            </div>
                            <input class="form-control " name="effect_name" type="text" autocomplete="off" placeholder="{% trans 'Nom effet' %}">
                        </div>
                    </div>
                    <div class="col-12 linked-effect pb-2 {% if not node.faction %}d-none{% endif %}">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Lié à" %}</span>
                                    </div>
                                    <select name="effect" class="form-control " aria-describedby="faction-form-original-effect-help">
                                        <option value="0">{% trans "Aucun effet existant de la faction..." %}</option>
                                        {% if node.faction %}
                                            {% for effect in node.faction.effects.all %}
                                                <option value="{{ effect.id }}">{{ effect.level_name }} ({% trans "Niv." %} {{ effect.level}})</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <small id="faction-form-original-effect-help" class="form-text text-muted">{% blocktrans %}La synchronisation aura un impact si vous retentez d'importer (<i class="fa-solid fa-cloud-arrow-down"></i>) les données initiales : les effets synchronisés sur un des effets originaux de la faction choisie verront leurs données écrasées.{% endblocktrans %}</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="faction-form-gm-description" class="input-group-text">{% trans "Memo MJ" %}</label>
                            </div>
                            <textarea class="form-control" name="level_memo" rows="5" placeholder="{% trans 'Memo visible par le MJ uniquement : que fait ce niveau ?' %}"></textarea>
                        </div>
                    </div>
                    <div class="col-12 pb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="faction-form-gm-description" class="input-group-text">{% trans "Description" %}</label>
                            </div>
                            <textarea class="form-control" name="effect_description" rows="5" placeholder="{% trans 'Description effet (peut être vue par les PJs selon la configuration)' %}"></textarea>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <div class="col-12 text-center"><div class="knight-hr my-3 d-inline-block w-50"></div></div>
        <div class="col-12">
            <button class="btn btn-sm btn-success" type="button" role="button" onclick="virtual_table_cy.add_effect();"><i class="fa-solid fa-plus-circle"></i> {% trans "Ajouter un effet de niveau" %}</button>
        </div>
    </div>
</form>