{% extends 'virtualtable/base.html' %}

{% load i18n %}

{% block title %}{% trans "Invitation expirée" %} - {% endblock %}

{% block content %}
<h1 class="mt-3">{% trans "Erreur : Invitation non valide" %}</h1>

<p>
	{% trans "Impossible de rejoindre cette table. Vérifiez qu'elle existe, qu'il s'agit bien de son lien d'invitation et que l'invitation n'a pas expiré." %}
</p>
{% endblock %}