{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans "FAQ" %} - {% endblock %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "FAQ" %}</h1>
        {% for category, displayed in displayed_categories %}
        
            {% if displayed %}
                <div class="{{ category.css_classes}}">
                    <div id="category-{{ category.id }}" class="title">{{ category.translations.name }}</div>
                    {% include 'gm/misc/faq_questions.html' with questions=category.questions.all %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}

{% comment %}
<div class="card">
    <div class="card-header">
        <strong class="question">{% if question.gm %}<span class="align-top badge badge-pill badge-danger"><small>{% trans "MJ" %}</small></span> {% endif %}{{ question.question }}</strong>
    </div>
    <div class="card-body">
        <div class="markdown-format text-justify">
            {{ question.answer|safe_markdown }}
        </div>
    </div>
</div>
{% endcomment %}