{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des arcanes" %} - {% endblock %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des arcanes" %}</h1>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Pour refléter les éléments survenus dans la vie du héros, la troisième étape de création de personnage de Knight se base sur un tirage de cartes du tarot, des « lames », qui représentent chacune des éléments du passé du personnage, des qualités ou des défauts et qui donnent aussi des points de caractéristique et d'aspect à répartir.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Le tirage des cartes peut être aléatoire ou non (au choix du MJ) et chaque personnage joueur doit en choisir cinq. Comme annoncé plus haut, chacune apporte plusieurs éléments au héros, éléments qui doivent être repris sur la feuille de personnage.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Voici les différents détails qu'une carte peut contenir :
                        {% endblocktrans %}
                    </p>
                    <ul>
                        <li class="text-justify">
                            {% blocktrans trimmed %}
                                <strong>Passé :</strong> Sous ce titre sont écrites plusieurs phrases qui évoquent un passé pour le personnage. Elles sont volontairement générales pour donner une direction au PJ sans pour autant enfermer son histoire dans un carcan. Lorsque le joueur choisit une carte, il doit donc imaginer le passé de son personnage en accord avec un ou plusieurs termes écrits dans cette section « Passé », et ce, en quelques lignes. L'histoire ainsi composée peut être bonne, mauvaise, violente, peu importe, tant que le joueur fait l'effort d'étoffer son personnage.
                            {% endblocktrans %}
                        </li>
                        <li class="text-justify">
                            {% blocktrans trimmed %}
                                <strong>Bonus :</strong> Après ce titre sont écrits les bonus en point de caractéristique et point d'aspect que la carte apporte au PJ. Ces bonus sont à inscrire directement sur la feuille de personnage. Si un bonus ne peut s'appliquer pour une raison ou pour une autre (caractéristique dépassant le score de son aspect lié, limitation, etc.), il est tout simplement perdu.
                            {% endblocktrans %}
                        </li>
                        <li class="text-justify">
                            {% blocktrans trimmed %}
                                <strong>Avantage/inconvénient :</strong> Après ce titre sont à chaque fois présents un avantage et un inconvénient en rapport avec la carte. Lorsqu'il tire ses cinq cartes, un PJ doit choisir, parmi les cinq avantages et les cinq inconvénients obtenus, deux avantages et un inconvénient et les reporter sur sa feuille de personnage.
                            {% endblocktrans %}
                        </li>
                    </ul>
                    <p class="text-justify">
                        <strong>Attention :</strong> les avantages et les inconvénients peuvent amener de gros bonus et malus qui sont à prendre absolument en compte.
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Dans Knight, la légende qui conte la guerre de la lumière contre les ténèbres fait mention de mystérieuses cartes aux pouvoirs inimaginables. Ces cartes, les lames du tarot, ne serviraient pas à prédire l'avenir, mais seraient liées à une prophétie, une prophétie impliquant une Humanité luttant pour sa propre destinée. Si cette prophétie est perdue depuis longtemps, Knight part du principe que les cartes du tarot définissent un personnage et son histoire, comme si elles représentaient un destin tracé... qui a été tracé. Si en dehors de la création de personnage, les PJ ne tirent plus ces cartes et n'y font plus appel que rarement, c'est aussi pour représenter le fait qu'en tant que chevaliers, ils reprennent leur destin en main. Le leur et celui de l'Humanité.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Chaque PJ doit maintenant choisir cinq cartes de tarot, présentées ci-après, ainsi que deux avantages et un inconvénient parmi ceux que les lames leur proposent. Chaque lame ne peut être choisie qu'une seule fois.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Pour une création plus rapide, si le MJ le décide, les cartes peuvent être tirées de manière aléatoire, dans un paquet composé des arcanes majeurs du tarot.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-sm-block mt-3">
        {% include 'gm/misc/filter_datatable.html' only %}
        {% get_current_language as LANGUAGE_CODE %}
        <table class="table table-sm table-striped table-bordered dt-enable">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="text-center align-middle">{% trans "N°" %}</th>
                    <th scope="col" class="text-center align-middle">{% trans "Nom" %}</th>
                    <th scope="col" class="text-center align-middle">{% trans "Aspect associé" %}</th>
                    <th scope="col" class="text-center align-middle">{% trans "Avantage (PJ)" %}</th>
                    <th scope="col" class="text-center align-middle">{% trans "Inconvénient (PJ)" %}</th>
                    {% if LANGUAGE_CODE == 'fr' %}
                        <th scope="col" class="text-center align-middle">{% trans "Avantage (IA)" %}</th>
                        <th scope="col" class="text-center align-middle">{% trans "Inconvénient (IA)" %}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for arcana in arcana_list %}
                    <tr>
                        <td data-order="{{ arcana.number }}" class="align-middle text-center">{{ arcana.roman_number }}</td>
                        <td data-order="{{ arcana.name|slugify }}" class="align-middle text-center position-relative">
                            <a class="stretched-link" href="{% url 'gm:arcana_detail' arcana.slug %}">{{ arcana.name }}</a>
                        </td>
                        <td class="align-middle text-center">{{ arcana.forced_aspect.name }}</td>
                        <td class="align-middle text-center">{{ arcana.advantage_name }}</td>
                        <td class="align-middle text-center">{{ arcana.disadvantage_name }}</td>
                        {% if LANGUAGE_CODE == 'fr' %}
                            <td class="align-middle text-center">{{ arcana.ai_advantage_name }}</td>
                            <td class="align-middle text-center">{{ arcana.ai_disadvantage_name }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="d-block d-sm-none mt-3">
        {% for arcana in arcana_list %}
            <div class="card my-3">
                <div class="card-header position-relative">
                    <h5 class="text-center m-0"><a  class="stretched-link" href="{% url 'gm:arcana_detail' arcana.slug %}">{% if arcana.roman_number %}{{ arcana.roman_number }} - {% endif %}{{ arcana.name }}</a></h5>
                </div>
                <div class="card-body">
                    <div>
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center align-middle"></th>
                                    <th class="text-center align-middle">{% trans "Avantage" %}</th>
                                    <th class="text-center align-middle">{% trans "Inconvénient" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="text-center align-middle">{% trans 'Chevalier' %}</th>
                                    <td class="text-center align-middle">{{ arcana.advantage_name }}</td>
                                    <td class="text-center align-middle">{{ arcana.disadvantage_name }}</td>
                                </tr>
                                {% if LANGUAGE_CODE == 'fr' %}
                                    <tr>
                                        <th scope="row" class="text-center align-middle">{% trans 'IA' %}</th>
                                        <td class="text-center align-middle">{{ arcana.ai_advantage_name }}</td>
                                        <td class="text-center align-middle">{{ arcana.ai_disadvantage_name }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}