{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des sections" %} - {% endblock %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des sections" %}</h1>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            À la place ou en plus de la règle optionnelle « points bonus », le MJ et les PJ peuvent décider de choisir d’appliquer cette étape. Chaque PJ peut alors choisir une section parmi celles listées ci-dessous. Les bonus d'aspect et de caractéristique sont à inscrire directement sur la feuille de personnage. Avoir fait partie d'une section, c'est aussi posséder un équipement particulier, représenté par l'octroi d'un ou plusieurs modules dont le chevalier dispose sans payer leur coût en PG.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            <strong>Attention :</strong> Chaque section impose aussi un inconvénient au PJ qui est à ajouter à celui obtenu lors du tirage des cartes.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Enfin, chaque chevalier bénéficiant de cette étape optionnelle dispose désormais des deux armes de base, à savoir le pistolet de service et le marteau-épieu. Les deux armes lui sont offertes.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        {% include 'gm/misc/filter_datatable.html' only %}
        <table class="table table-sm table-striped table-bordered dt-enable">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="text-center">{% trans "Section" %}</th>
                    <th scope="col" class="text-center">{% trans "Devise" %}</th>
                    <th scope="col" class="text-center">{% trans "Aspect" %}</th>
                    <th scope="col" class="text-center">{% trans "Acquisition" %}</th>
                    <th scope="col" class="text-center">{% trans "Inconvénient" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for division in division_list %}
                    <tr>
                        <td data-order="{{ division.name|slugify }}" class="align-middle text-center position-relative">
                            <a class="stretched-link" href="{% url 'gm:division_detail' division.slug %}">{{ division.name }}</a>
                        </td>
                        <td class="align-middle text-center p-2">{{ division.motto }}</td>
                        <td class="align-middle text-center">{{ division.aspect_bonus.name }}</td>
                        <td class="align-middle">
                            <div class="d-none d-sm-block">
                                <ul class="my-1">
                                    {% for overdrive in division.overdrives.all %}
                                        <li>
                                            {% blocktrans trimmed with overdrive_name=overdrive.characteristic.name %}
                                                1 overdrive en {{ overdrive_name }}
                                            {% endblocktrans %}
                                        </li>
                                    {% endfor %}
                                    {% for division_module in division.modules.all %}
                                        <li>
                                            {{ division_module.module_level }}
                                            {% if division_module.forced_choice_effect %}
                                                ({{ division_module.forced_choice_effect }})
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="d-block d-sm-none">
                                {% for overdrive in division.overdrives.all %}
                                    {% blocktrans trimmed with overdrive_name=overdrive.characteristic.name %}1 overdrive en {{ overdrive_name }}{% endblocktrans %}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                                {% for division_module in division.modules.all %}
                                    {{ division_module.module_level }}{% if division_module.forced_choice_effect %} ({{ division_module.forced_choice_effect }}){% endif %}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </div>
                        </td>
                        <td class="align-middle text-center">{{ division.disadvantage_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}