{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des effets" %} - {% endblock %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des effets" %}</h1>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Beaucoup d'armes ont des effets spécifiques et permettent d'ignorer certaines règles du jeu ou d'en ajouter. Voici les différents effets spéciaux qui peuvent apparaître sur une arme.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        {% include 'gm/misc/filter_datatable.html' with sources=sources user=user only %}
        <table class="table table-sm table-striped table-bordered dt-enable">
            <thead class="thead-light">
                <tr>
                    <th scope="col">{% trans "Nom" %}</th>
                    <th scope="col">{% trans "Description" %}</th>
                    <th scope="col" class="source">{% trans "Source" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for effect in effect_list %}
                    <tr title="{{ effect.example }}">
                        <td data-order="{{ effect.name|slugify }}" class="align-middle position-relative">
                            <a class="stretched-link" href="{% url 'gm:effect_detail' effect.slug %}">{{ effect.name }}</a>
                        </td>
                        <td class="align-middle text-justify markdown-format p-2">{{ effect.description|safe_markdown }}</td>
                        <td class="align-middle text-center">{{ effect.source.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}

