{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des modules" %} - {% endblock %}

{% block display_printer %}d-sm-block{% endblock display_printer %}
{% block printer %}{% url 'gm:print_module' %}{% endblock printer %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des modules" %}</h1>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Chaque méta-armure est unique et possède quantité de personnalisations. Même si les divers châssis constituent des bases solides et inaltérables, notamment en termes de capacité spéciale, chaque chevalier aime ajouter à sa méta-armure des équipements que l'on nomme généralement « modules ». Ces modules s'ajoutent à l'armure nue et remplissent peu à peu les espaces disponibles, espaces nommés « slots ». Ces slots sont limités et sont présents sur les jambes, les bras, le tronc et la tête de la méta-armure. Chaque modèle possède un nombre de slots différent.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Il est à noter que les modules ne sont jamais totalement détaillés. En effet, sur la plupart des modules est présente une liste d'équipements possibles représentant l'effet du module. C'est au joueur de choisir l'équipement correspondant. Ce choix n'a qu'une valeur cosmétique, mais sert à la personnalisation de la méta-armure. Les modules sont intimement liés à l'armure. Ils ne peuvent donc être utilisés que lorsque l'armure est complètement déployée.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Certains modules peuvent être augmentés et possèdent des niveaux, généralement de 1 à 3. Pour se doter du niveau 2 ou 3 d'un module, il faut posséder les précédents. Ces niveaux ont un coût indiqué dans le descriptif du module.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            En termes de description, les modules possèdent un score de slots associé à un terme représentant le ou les slots qu'ils occupent et leur emplacement.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Autrement, chaque module a un coût en points de gloire indiqué dans son descriptif. Les autres effets sont, eux aussi, détaillés dans le descriptif.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% url "gm:overdrive_list" as url_od %}
                        {% blocktrans trimmed with url_od=url_od %}
                            Chaque module est organisé dans différentes catégories : modules de déplacement, modules de combat, modules tactiques, modules utilitaires, améliorations et armes automatisées. Les <a href="{{ url_od }}">modules d'overdrive</a> font l'objet d'une section spécifique sur le site.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        {% include 'gm/misc/filter_datatable.html' with categories=categories sources=sources rarities=rarities activations=activations user=user only %}
        <table data-order='[[ 1, "asc" ], [ 2, "asc" ], [ 0, "asc" ]]' class="table table-sm table-hover dt-enable">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="w-25">{% trans "Nom" %}</th>
                    <th scope="col" class="category w-25">
                        <div class="d-none d-sm-block">{% trans "Catégorie" %}</div>
                        <div class="d-block d-sm-none">{% trans "Catég." %}</div>
                    </th>
                    <th scope="col" class="w-25 rarity">{% trans "Rareté" %}</th>
                    <th scope="col" class="w-25">{% trans "Prix" %}</th>
                    <th scope="col" class="source" data-visible="false">{% trans "Source" %}</th>
                    <th scope="col" class="activation" data-visible="false">{% trans "Activation" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for module in module_list %}
                    {% with first_level=module.levels.all|first %}
                        {% for level in module.levels.all %}
                            <tr>
                                <td data-order="{{ module.name|slugify }}" class="position-relative">
                                    <a class="stretched-link" href="{% url 'gm:module_detail' module.slug %}">{{ module.name }}{% if module.levels.all|length > 1 %} {% trans "niv." %} {{ level.level }}{% endif %}</a>
                                </td>
                                <td data-search="{{ module.category.name }}">
                                    <div class="d-none d-sm-block">{{ module.category.name }}</div>
                                    <div class="d-block d-sm-none">{{ module.category.short_name }}</div>
                                </td>
                                <td data-order="{{ level.rarity.id }}">
                                    <span class="thumbnail-bg bg-custom-rarity-{{ level.rarity.id }}"></span>
                                    <span class="d-none d-sm-inline">{{ level.rarity.name }}</span>
                                    <span class="d-inline d-sm-none">{{ level.rarity.name|truncatechars:3 }}</span>
                                </td>
                                <td data-order="{{ level.cost }}">{{ level.cost }} PG</td>
                                <td>{{ module.source.name }}</td>
                                <td>{{ level.activation.name }}</td>
                            </tr>
                        {% endfor %}
                    {% endwith%}
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}