{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des capacités PNJ" %} - {% endblock %}

{% block content %}
    {% if not user.game_master %}
        <div class="mt-3">
            <h1 class="text-center font-weight-bold">{% trans "Liste des capacités PNJ" %}</h1>
            <div class="text-justify">
                {% blocktrans trimmed %}
                    Vous n'avez pas les accréditations nécessaires pour visualiser cette page.
                    Seuls les comptes ayant un accès MJ peuvent accéder à la liste des capacités de PNJs,
                    cette liste utilisant des notions-clés à propos des secrets du jeu
                    et ne devant pas être visible par tous.
                {% endblocktrans %}
            </div>
        </div>
    {% else %}
        <div class="mt-3">
            <h1 class="text-center font-weight-bold">{% trans "Liste des capacités PNJ" %}</h1>
            <div class="card mb-3">
                <div class="card-header position-relative">
                    <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                        <h6 class="font-weight-bold font-italic mb-0">
                            {% trans "Introduction" %}
                            <i class="fa fa-plus-square"></i>
                        </h6>
                    </a>
                </div>
                <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                    <div class="card-body">
                        <p class="text-justify">
                            {% blocktrans trimmed %}
                                Cette page vous présente une vue d'ensemble des capacités PNJ. Cliquez sur l'une d'elle pour avoir sa description exacte. Le tableau se veut le plus complet possible pour qu'en un coup d'œil vous puissiez savoir quelle capacité vous pouvez donner à un PNJ que vous êtes en train de créer. Par défaut, la liste ne comporte que les capacités dites "communes", mais il est possible d'afficher aussi les capacités spécifiques à un seul PNJ, ou à quelques-uns vraiment très spécifiques, dans l'univers de Knight.
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <!-- TODO : faire portion smartphone-->
            {% include 'gm/misc/filter_datatable.html' with user=user npc_types=npc_types npc_ability=True only %}
            <div class="d-none d-lg-block">
                <table class="table table-sm table-striped dt-enable">
                    <thead class="thead-light">
                        <tr>
                            <th data-visible="false" class="d-none common" scope="col">{% trans "Commune" %}</th>
                            <th scope="col" class="text-center align-middle">{% trans "Nom" %}</th>
                            <th scope="col" class="text-center align-middle">{% trans "Élite" %}</th>
                            <th scope="col" class="text-center align-middle">{% trans "Diff. min." %}</th>
                            <th scope="col" class="text-center align-middle human-allowed">{% trans "Hum." %}</th>
                            <th scope="col" class="text-center align-middle anathema-allowed">{% trans "Ana." %}</th>
                            {% if user.is_gest_game_master %}
                                <th scope="col" class="text-center align-middle ether-allowed">{% trans "Eth." %}</th>
                                <th scope="col" class="text-center align-middle void-allowed">{% trans "Vide" %}</th>
                            {% endif %}
                            {% for npc_type in npc_types %}
                                <th scope="col" class="text-center align-middle npc-ability-type-{{ npc_type.id }}"><span class="d-none d-xl-inline">{{ npc_type.name|capfirst }}</span><span class="d-inline d-xl-none">{{ npc_type.name|capfirst|slice:":2" }}.</span></th>
                            {% endfor %}
                            <th scope="col" class="text-center align-middle">{% trans "Détail" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for npc_ability in npc_ability_list %}
                            <tr>
                                <td data-search="{{ npc_ability.common }}" class="d-none align-middle text-center">{% if npc_ability.common %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                                <td data-order="{{ npc_ability.name|slugify }}" class="align-middle text-center position-relative">
                                    <a class="stretched-link" href="{% url 'gm:npc_ability_detail' npc_ability.slug %}">{{ npc_ability.name }}</a>
                                </td>
                                <td data-order="{% if npc_ability.elite %}1{% else %}0{% endif %}" class="align-middle text-center">{% if npc_ability.elite %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                                <td data-order="{{ npc_ability.min_difficulty.id }}" class="align-middle text-center"><span class="thumbnail-bg bg-custom-difficulty-{{ npc_ability.min_difficulty.id }}"></span> <span>{{ npc_ability.min_difficulty.name|capfirst }}</span></td>
                                <td data-order="{{ npc_ability.human_allowed }}" data-search="{{ npc_ability.human_allowed }}" class="align-middle text-center">{% if npc_ability.human_allowed %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                                <td data-order="{{ npc_ability.anathema_allowed }}" data-search="{{ npc_ability.anathema_allowed }}" class="align-middle text-center">{% if npc_ability.anathema_allowed %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                                {% if user.is_gest_game_master %}
                                    <td data-order="{{ npc_ability.ether_allowed }}" data-search="{{ npc_ability.ether_allowed }}" class="align-middle text-center">{% if npc_ability.ether_allowed %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                                    <td data-order="{{ npc_ability.void_allowed }}" data-search="{{ npc_ability.void_allowed }}" class="align-middle text-center">{% if npc_ability.void_allowed %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                                {% endif %}
                                {% for npc_type in npc_types %}
                                    <td data-order="{% if npc_type in npc_ability.types.all %}1{% else %}0{% endif %}" data-search="{% if npc_type in npc_ability.types.all %}{{ npc_type.name }}{% endif %}" class="align-middle text-center">{% if npc_type in npc_ability.types.all %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                                {% endfor %}
                                <td>{{ npc_ability.precision }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="d-block d-lg-none">
                <table class="table table-sm table-striped table-hover dt-enable">
                    <thead class="thead-light">
                        <tr>
                            <th data-visible="false" class="d-none common" scope="col">{% trans "Commune" %}</th>
                            <th scope="col" class="text-center align-middle">{% trans "Nom" %}</th>
                            <th scope="col" class="text-center align-middle">{% trans "Élite" %}</th>
                            <th scope="col" class="text-center align-middle">{% trans "Compat." %}</th>
                            <th scope="col" class="text-center align-middle">{% trans "Niveaux" %}</th>
                            <th scope="col" class="text-center align-middle">{% trans "Détail" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for npc_ability in npc_ability_list %}
                            <tr>
                                <td data-search="{{ npc_ability.common }}" class="d-none align-middle text-center">{% if npc_ability.common %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                                <td data-order="{{ npc_ability.name|slugify }}" class="align-middle text-center position-relative">
                                    <a class="stretched-link" href="{% url 'gm:npc_ability_detail' npc_ability.slug %}">{{ npc_ability.name }}</a>
                                </td>
                                <td class="align-middle text-center">{% if npc_ability.elite %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                                <td class="align-middle text-center">
                                    {% if not npc_ability.human_allowed and not npc_ability.anathema_allowed and not npc_ability.ether_allowed and not npc_ability.void_allowed %}
                                        {% trans "Aucune" %}
                                    {% else %}
                                        {% if npc_ability.human_allowed %}
                                            {% trans "Humain" %} {% if npc_ability.anathema_allowed or npc_ability.ether_allowed or npc_ability.void_allowed %}-{% endif %}
                                        {% endif %}
                                        {% if npc_ability.anathema_allowed %}
                                            {% trans "Anathème" %} {% if npc_ability.ether_allowed or npc_ability.void_allowed %}-{% endif %}
                                        {% endif %}
                                        {% if user.is_gest_game_master%}
                                            {% if npc_ability.ether_allowed %}
                                                {% trans "Éther" %} {% if npc_ability.void_allowed %}-{% endif %}
                                            {% endif %}
                                            {% if npc_ability.void_allowed %}
                                                {% trans "Vide" %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="align-middle text-center">
                                    {{ npc_ability.min_difficulty.name|capfirst }} - 
                                    {% for npc_type in npc_ability.types.all %}
                                        {{ npc_type.name }} {% if not forloop.last %}-{% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ npc_ability.precision }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}