{% extends 'gm/base.html' %}
{% load i18n %}

{% block content %}
<h1 class="mt-3">{% trans "Erreur : Recherche vide non autorisée" %}</h1>

<p>
	{% trans "Vous ne pouvez pas faire une recherche sans terme de recherche." %}
</p>
{% endblock %}