{% load gm_extras %}
{% load martortags %}
{% comment %} {% load debug_tags %} {% endcomment %}
{% load i18n %}


{% if titles.es_fuzzy %}
<div class="alert alert-info">{% trans "Aucun résultat trouvé avec la recherche exacte ; résultats pour des termes approchants." %}</div>
{% endif %}
{% for element in results %}
    <div class="search-result">
        <h4><a href="{% url detail_uri element.slug %}">{{ element.name }}</a></h4>
        <ul>
            {% with element.meta.highlight|get_highlights as hit_meta %}
                {% for attr, fragments in hit_meta.items %}
                    <li>
                        <strong>{{ attr|get_title:titles }}</strong>
                        <ul>
                            {% for fragment in fragments %}
                            <li>
                                {% autoescape off %}
                                    {{ fragment }}
                                {% endautoescape %}
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            {% endwith %}
        </ul>
    </div>
{% endfor %}