{% load gm_extras %}
{% load i18n %}
{% load static %}
{% load martortags %}

{% if titles.es_fuzzy %}
<div class="alert alert-info">{% trans "Aucun résultat trouvé avec la recherche exacte ; résultats pour des termes approchants." %}</div>
{% endif %}
{% for question in questions %}
    {% if not forloop.first %}
        <div class="text-center"><div class="knight-hr my-3 d-inline-block w-50"></div></div>
    {% endif %}
    <div class="search-result p-2">
        <strong class="question">
            {% if question.gm %}
                <span class="align-top badge badge-pill badge-danger">
                    <small>{% trans "MJ" %}</small>
                </span>
            {% endif %}
            
            {% autoescape off %}
                {{ question.question }}
            {% endautoescape %}
        </strong>
        <br>
        {% if show_path %}
            {% for categ in question.category %}
                <span class="text-secondary font-italic"><small>
                    {% for fam in categ.get_family %}
                        {% if not forloop.first %} > {% endif %}
                        {% if question.v1_5 %}
                            <a href="{% url 'gm:faqv1.5' %}#category-{{ fam.id }}">{{ fam.name }}</a>
                        {% elif question.v1 %}
                            <a href="{% url 'gm:faqv1' %}#category-{{ fam.id }}">{{ fam.name }}</a>
                        {% endif %}
                    {% endfor %}
                </small> - </span>
            {% endfor %}
        {% endif %}
        <small class="text-secondary">
            {{question.updated}}
        </small>
        <div class="markdown-format text-justify mt-2">
            {% autoescape off %}
                {{ question.answer }}
            {% endautoescape %}
        </div>
    </div>
{% endfor %}
