{% extends 'users/base.html' %}

{% load static %}
{% load martortags %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load gm_extras %}

{% block title %}{% trans "Modif. mot de passe" %} - {% endblock %}

{% block content %}
<form method="post">
    <h1 class="text-center">{% trans "Modification de votre mot de passe" %}</h1>
	{% csrf_token %}
    <div class="row">
        <div class="col">
            {{ form.old_password|as_crispy_field }}
        </div>
        <div class="col">
            {{ form.new_password1|as_crispy_field }}
		</div>
		<div class="col-12"></div>
		<div class="col"></div>
        <div class="col">
            {{ form.new_password2|as_crispy_field }}
        </div>
    </div>
    <button type="submit" class="btn btn-success">{% trans "Enregistrer" %}</button>
</form>
{% endblock %}