{% load static %}
{% load i18n %}

<div class="col-12 col-md-6 mb-3 {% if fav_list.id > 0 %}sortable-item{% endif %}">
    <div class="card" data-fav-list-id="{{ fav_list.id }}">
        <div class="card-header position-relative">
            <h3 class="text-center icon fav-list-title">{{ fav_list.name }}</h3>
            {% if fav_list.id > 0 %}
                <div class="position-absolute edit-fav-list"><button class="btn btn-sm btn-warning"><i class="fas fa-pencil-alt"></i></button></div>
                <div class="position-absolute rm-fav-list"><button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button></div>
            {% endif %}
        </div>
        <div class="position-relative">
            {% if fav_list.id > 0 %}
                <div class="drop-zone position-absolute h-100 w-100 bg-warning">
                    <div class="d-table h-100 w-100">
                        <div class="drop-zone-move position-relative w-50 h-100 d-table-cell text-center border">
                            <div class="position-absolute w-100 h-100 bg-light drop-zone-elt"></div>
                            <div class="position-absolute w-100 h-100 align-middle">
                                <div class="d-table h-100 w-100">
                                    <div class="d-table-cell h-100 w-100 align-middle">
                                        <span><i class="fas fa-clone"></i> {% trans "Déplacer ici" %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="drop-zone-copy position-relative w-50 h-100 d-table-cell text-center border">
                            <div class="position-absolute w-100 h-100 bg-light drop-zone-elt"></div>
                            <div class="position-absolute w-100 h-100 align-middle">
                                <div class="d-table h-100 w-100">
                                    <div class="d-table-cell h-100 w-100 align-middle">
                                        <span><i class="fas fa-clone"></i> {% trans "Copier ici" %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="card-body">
                {% if fav_list.favweaponi18n %}
                    <h6 class="font-italic">{% trans "Armes" %}</h6>
                    <ul class="sortable" data-type="weapon">
                        {% for fav in fav_list.favweaponi18n %}
                            <li class="" data-type="weapon" data-item-id="{{ fav.weapon.id }}" data-fav-lists-id="{{ fav.get_lists_id|join:',' }}">
                                <div class="btn-group" role="group" aria-label="{% trans 'Actions...' %}">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary btn-knightools-mng badge dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-cog"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item fav-grip" href="#"><i class="fas fa-grip-vertical"></i> {% trans 'Glisser...' %}</a>
                                            <a class="dropdown-item fav-edit" href="#"><i class="fas fa-edit"></i> {% trans 'Modifier' %}</a>
                                            <a class="dropdown-item fav-trash" href="#"><i class="fas fa-trash"></i> {% trans 'Supprimer' %}</a>
                                        </div>
                                    </div>
                                </div>
                                <a class="sortable-target" href="{% url 'gm:weapon_detail' fav.weapon.slug %}">{{ fav.weapon.name }}</a>
                                {% if fav.note %}
                                    - <span class="fav-note">{{fav.note}}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                {% if fav_list.favmodulei18n %}
                    <h6 class="font-italic">{% trans "Modules" %}</h6>
                    <ul class="sortable" data-type="module">
                        {% for fav in fav_list.favmodulei18n %}
                            <li class="" data-type="module" data-item-id="{{ fav.module.id }}" data-fav-lists-id="{{ fav.get_lists_id|join:',' }}">
                                <div class="btn-group" role="group" aria-label="{% trans 'Actions...' %}">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary btn-knightools-mng badge dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-cog"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item fav-grip" href="#"><i class="fas fa-grip-vertical"></i> {% trans 'Glisser...' %}</a>
                                            <a class="dropdown-item fav-edit" href="#"><i class="fas fa-edit"></i> {% trans 'Modifier' %}</a>
                                            <a class="dropdown-item fav-trash" href="#"><i class="fas fa-trash"></i> {% trans 'Supprimer' %}</a>
                                        </div>
                                    </div>
                                </div>
                                <a class="sortable-target" href="{% url 'gm:module_detail' fav.module.slug %}">{{ fav.module.name }}</a>
                                {% if fav.note %}
                                    - <span class="fav-note">{{fav.note}}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                {% if fav_list.favenhancementi18n %}
                    <h6 class="font-italic">{% trans "Améliorations" %}</h6>
                    <ul class="sortable" data-type="enhancement">
                        {% for fav in fav_list.favenhancementi18n %}
                            <li class="" data-type="enhancement" data-item-id="{{ fav.enhancement.id }}" data-fav-lists-id="{{ fav.get_lists_id|join:',' }}">
                                <div class="btn-group" role="group" aria-label="{% trans 'Actions...' %}">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary btn-knightools-mng badge dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-cog"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item fav-grip" href="#"><i class="fas fa-grip-vertical"></i> {% trans 'Glisser...' %}</a>
                                            <a class="dropdown-item fav-edit" href="#"><i class="fas fa-edit"></i> {% trans 'Modifier' %}</a>
                                            <a class="dropdown-item fav-trash" href="#"><i class="fas fa-trash"></i> {% trans 'Supprimer' %}</a>
                                        </div>
                                    </div>
                                </div>
                                <a class="sortable-target" href="{% url 'gm:enhancement_detail' fav.enhancement.slug %}">{{ fav.enhancement.name }}</a>
                                {% if fav.note %}
                                    - <span class="fav-note">{{fav.note}}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                {% if fav_list.faveffecti18n %}
                    <h6 class="font-italic">{% trans "Effets" %}</h6>
                    <ul class="sortable" data-type="effect">
                        {% for fav in fav_list.faveffecti18n %}
                            <li class="" data-type="effect" data-item-id="{{ fav.effect.id }}" data-fav-lists-id="{{ fav.get_lists_id|join:',' }}">
                                <div class="btn-group" role="group" aria-label="{% trans 'Actions...' %}">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-secondary btn-knightools-mng badge dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-cog"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item fav-grip" href="#"><i class="fas fa-grip-vertical"></i> {% trans 'Glisser...' %}</a>
                                                <a class="dropdown-item fav-edit" href="#"><i class="fas fa-edit"></i> {% trans 'Modifier' %}</a>
                                                <a class="dropdown-item fav-trash" href="#"><i class="fas fa-trash"></i> {% trans 'Supprimer' %}</a>
                                            </div>
                                        </div>
                                    </div>
                                <a class="sortable-target" href="{% url 'gm:effect_detail' fav.effect.slug %}">{{ fav.effect.name }}</a>
                                {% if fav.note %}
                                    - <span class="fav-note">{{fav.note}}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                {% if fav_list.favarmouri18n %}
                    <h6 class="font-italic">{% trans "Armures" %}</h6>
                    <ul class="sortable" data-type="armour">
                        {% for fav in fav_list.favarmouri18n %}
                            <li class="" data-type="armour" data-item-id="{{ fav.armour.id }}" data-fav-lists-id="{{ fav.get_lists_id|join:',' }}">
                                <div class="btn-group" role="group" aria-label="{% trans 'Actions...' %}">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary btn-knightools-mng badge dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-cog"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item fav-grip" href="#"><i class="fas fa-grip-vertical"></i> {% trans 'Glisser...' %}</a>
                                            <a class="dropdown-item fav-edit" href="#"><i class="fas fa-edit"></i> {% trans 'Modifier' %}</a>
                                            <a class="dropdown-item fav-trash" href="#"><i class="fas fa-trash"></i> {% trans 'Supprimer' %}</a>
                                        </div>
                                    </div>
                                </div>
                                <a class="sortable-target" href="{% url 'gm:armour_detail' fav.armour.slug %}">{{ fav.armour.name }}</a>
                                {% if fav.note %}
                                    - <span class="fav-note">{{fav.note}}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                {% if fav_list.favmechai18n %}
                    <h6 class="font-italic">{% trans "Mecha-armures" %}</h6>
                    <ul class="sortable" data-type="mecha">
                        {% for fav in fav_list.favmechai18n %}
                            <li class="" data-type="mecha" data-item-id="{{ fav.mecha.id }}" data-fav-lists-id="{{ fav.get_lists_id|join:',' }}">
                                <div class="btn-group" role="group" aria-label="{% trans 'Actions...' %}">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary btn-knightools-mng badge dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-cog"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item fav-grip" href="#"><i class="fas fa-grip-vertical"></i> {% trans 'Glisser...' %}</a>
                                            <a class="dropdown-item fav-edit" href="#"><i class="fas fa-edit"></i> {% trans 'Modifier' %}</a>
                                            <a class="dropdown-item fav-trash" href="#"><i class="fas fa-trash"></i> {% trans 'Supprimer' %}</a>
                                        </div>
                                    </div>
                                </div>
                                <a class="sortable-target" href="{% url 'gm:mecha_detail' fav.mecha.slug %}">{{ fav.mecha.name }}</a>
                                {% if fav.note %}
                                    - <span class="fav-note">{{fav.note}}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                {% if not fav_list.favweaponi18n and not fav_list.favmodulei18n and not fav_list.favenhancementi18n and not fav_list.faveffecti18n and not fav_list.favarmouri18n and not fav_list.favmechai18n %}
                    <span class="font-italic">{% trans "Aucun favori enregistré. Naviguez dans le site et mettez en favoris des armes, armures, modules ou effets pour les voir apparaître ici et y avoir accès d'un coup d'oeil. " %}</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
