{% extends 'users/base.html' %}

{% load static %}
{% load martortags %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load gm_extras %}

{% block title %}{% trans "Profil" %} - {% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'users/js/account.js' %}"></script>
{% endblock js %}

{% block content %}
<form method="post">
    <h1 class="text-center">{% trans "Vos informations" %}</h1>
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <h6>{% trans "Votre compte" %}</h6>
        </div>
        <div class="col">
            {{ form.username|as_crispy_field }}
        </div>
        <div class="col align-bottom">
            {% url "users:change_password" as url_chgpwd %}
            <span class="form-text">
                {% blocktrans trimmed with url_chgpwd=url_chgpwd %}
                    Pour changer votre mot de passe, <a href="{{ url_chgpwd }}">utilisez ce formulaire</a>.
                {% endblocktrans %}
            </span>
        </div>
        <div class="col-12"></div>
        <div class="col">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col">
            {{ form.last_name|as_crispy_field }}
        </div>
        <div class="col-12">
            {{ form.email|as_crispy_field }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h6>{% trans "Interface" %}</h6>
        </div>
        <div class="col-6">
            {{ form.prechecked_sources|as_crispy_field }}
        </div>
        {% if form.instance.game_master or form.instance.get_next_game_master_question %}
            <div class="col-6">
                {{ form.game_master|as_crispy_field }}
                {% if not form.instance.game_master %}
                    <div class="d-none" id="game-master-question">
                        {{ form.game_master_question|as_crispy_field }}
                    </div>
                {% else %}
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == 'fr' %}
                        {{ form.gest_account|as_crispy_field}}
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% if not form.instance.is_gest_game_master %}
    <div class="row mt-5">
        <div class="col-12">
            <h6>{% trans "Accréditations" %}</h6>
        </div>
        <div class="col">
            {{ form.activation_code|as_crispy_field }}
        </div>
    </div>
    {% endif %}
    <button type="submit" class="btn btn-success">{% trans "Enregistrer" %}</button>
</form>
<hr>
<div class="mb-5">
    <h2 class="text-danger text-center mt-5">{% trans "ZONE DE DANGER" %}</h2>
    <a href="{% url 'users:del_user' %}" class="btn btn-danger">{% trans "Supprimer votre compte" %}</a>
</div>
{% endblock %}