{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}
{% load gm_extras %}

{% block title %}{% trans "Arcane" %} {{ arcana.name }} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:arcana_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des arcanes" %}</a>
    {% set_var arcana.number|stringformat:"s" as num %}
    {% set_var 'gm/img/arcana/'|add:num|add:'.webp' as img_src %}
    <div class="p-3 my-2">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h1 class="text-center font-weight-bold">{% if arcana.roman_number %}{{ arcana.roman_number }} - {% endif %}{{ arcana.name }}{% if arcana.number %} ({{ arcana.number }}){% endif %}</h1>
            </div>
            <div class="col-1">
                <img src="{% static img_src %}" class="w-100">
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="player-tab" data-toggle="tab" href="#player" role="tab" aria-controls="player" aria-selected="true">{% trans "Chevalier" %}</a>
        </li>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'fr' %}
            <li class="nav-item">
                <a class="nav-link" id="ai-tab" data-toggle="tab" href="#ai" role="tab" aria-controls="ai" aria-selected="false">{% trans "Intelligence Artificielle (IA)" %}</a>
            </li>
            {% if arcana.oracle_future %}
                <li class="nav-item">
                    <a class="nav-link" id="oracle-tab" data-toggle="tab" href="#oracle" role="tab" aria-controls="oracle" aria-selected="false">{% trans "Oracle" %}</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="player" role="tabpanel" aria-labelledby="player-tab">
            <div class="card-deck mb-sm-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans 'Description' %}
                        </h5>
                    </div>
                    <div class="card-body text-justify">
                        {{ arcana.description|linebreaks }}
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans 'Création' %}
                        </h5>
                    </div>
                    <div class="card-body text-justify">
                        {{ arcana.creation_bonus|safe_markdown }}
                    </div>
                </div>
            </div>
            
            <div class="card-deck mb-sm-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans 'Destin' %}
                        </h5>
                    </div>
                    <div class="card-body text-justify markdown-format">
                        <p>{{ arcana.destiny_effect|safe_markdown }}</p>
                        <em class="text-muted float-right">{{ arcana.destiny_quote }}</em>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans 'Passés' %}
                        </h5>
                    </div>
                    <div class="card-body text-justify">
                        <p>{{ arcana.past }}</p>
                    </div>
                </div>
            </div>
            
            <div class="card-deck mb-sm-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans "Avantage" %} - {{ arcana.advantage_name }}
                        </h5>
                    </div>
                    <div class="card-body text-justify markdown-format" >
                        {{ arcana.advantage|safe_markdown }}
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans "Inconvénient" %} - {{ arcana.disadvantage_name }}
                        </h5>
                    </div>
                    <div class="card-body text-justify markdown-format" >
                        {{ arcana.disadvantage|safe_markdown }}
                    </div>
                </div>
            </div>
        </div>
        
        {% if LANGUAGE_CODE == 'fr' %}
            <div class="tab-pane fade" id="ai" role="tabpanel" aria-labelledby="ai-tab">
                <div class="card-deck mb-sm-3">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="font-weight-bold font-italic mb-0">
                                {% trans 'Description' %}
                            </h5>
                        </div>
                        <div class="card-body text-justify">
                            {{ arcana.ai_description|linebreaks }}
                        </div>
                    </div>
                </div>
                
                <div class="card-deck mb-sm-3">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="font-weight-bold font-italic mb-0">
                                {% trans 'Comportement' %}
                            </h5>
                        </div>
                        <div class="card-body text-justify">
                            {{ arcana.ai_behavior }}
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="font-weight-bold font-italic mb-0">
                                {% trans 'Lettre & mots-clés' %}
                            </h5>
                        </div>
                        <div class="card-body">
                            <p class="text-center"><strong>{{ arcana.ai_letter }}</strong></p>
                            <p class="text-center"><em class="text-muted">{{ arcana.ai_keywords }}</em></p>
                        </div>
                    </div>
                </div>
                
                <div class="card-deck mb-sm-3">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="font-weight-bold font-italic mb-0">
                                {% trans "Avantage" %} - {{ arcana.ai_advantage_name }}
                            </h5>
                        </div>
                        <div class="card-body text-justify markdown-format" >
                            {{ arcana.ai_advantage|safe_markdown }}
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="font-weight-bold font-italic mb-0">
                                {% trans "Inconvénient" %} - {{ arcana.ai_disadvantage_name }}
                            </h5>
                        </div>
                        <div class="card-body text-justify markdown-format" >
                            {{ arcana.ai_disadvantage|safe_markdown }}
                        </div>
                    </div>
                </div>
            </div>
            {% if arcana.oracle_future %}
                <div class="tab-pane fade" id="oracle" role="tabpanel" aria-labelledby="oracle-tab">
                    <div class="card-deck mb-sm-3">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5 class="font-weight-bold font-italic mb-0">
                                    {% trans 'Avenir' %}
                                </h5>
                            </div>
                            <div class="card-body text-justify markdown-format" >
                                {{ arcana.oracle_future|safe_markdown }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-deck mb-sm-3">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5 class="font-weight-bold font-italic mb-0">
                                    {% trans "Fortune" %} - {{ arcana.oracle_fortune_name }}
                                </h5>
                            </div>
                            <div class="card-body text-justify markdown-format">
                                {{ arcana.oracle_fortune_description|safe_markdown }}
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5 class="font-weight-bold font-italic mb-0">
                                    {% trans "Calamité" %} - {{ arcana.oracle_calamity_name }}
                                </h5>
                            </div>
                            <div class="card-body text-justify markdown-format">
                                {{ arcana.oracle_calamity_description|safe_markdown }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        
    </div>
    
    {% if arcana.questions_list %}
        {% include 'gm/misc/faq_text.html' with questions=arcana.questions_list %}
    {% endif %}
    
{% endblock %}
