{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Blason" %} {{ crest.name }} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:crest_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des blasons" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ crest.name }}</h1>
        <blockquote class="blockquote font-italic text-center text-muted">
            <p>{{ crest.vow }}</p>
        </blockquote>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">
                {% trans 'Description' %}
            </h5>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-12 text-justify markdown-format">
                    {{ crest.description|safe_markdown }}
                </div>
                {% if user.is_ultimate_aptitude_visible and ultimate %}
                    <div class="col-6 text-center knight-hr my-3"></div>
                    <div class="col-12">
                        <h4 class="text-center" id="ultimate-{{ ultimate.name|slugify }}">{% trans "Capacité ultime :" %} {{ ultimate.name}}</h4>
                        <div class="mt-3 markdown-format text-justify">
                            {{ ultimate.description|safe_markdown }}
                        </div>
                        {% if ultimate.cost or ultimate.activation or ultimate.duration or ultimate.reach %}
                        <table class="table table-sm table-bordered table-striped">
                            <tbody class="thead-light">
                                {% if ultimate.cost %}
                                    <tr>
                                        <th class="w-25 text-center" scope="row">{% trans "Coût" %}</th>
                                        <td class="w-75">{{ ultimate.cost }}</td>
                                    </tr>
                                {% endif %}
                                {% if ultimate.activation %}
                                    <tr>
                                        <th class="w-25 text-center" scope="row">{% trans "Activation" %}</th>
                                        <td class="w-75">{{ ultimate.activation }}</td>
                                    </tr>
                                {% endif %}
                                {% if ultimate.duration %}
                                    <tr>
                                        <th class="w-25 text-center" scope="row">{% trans "Durée" %}</th>
                                        <td class="w-75">{{ ultimate.duration }}</td>
                                    </tr>
                                {% endif %}
                                {% if ultimate.reach %}
                                    <tr>
                                        <th class="w-25 text-center" scope="row">{% trans "Portée" %}</th>
                                        <td class="w-75">{{ ultimate.reach.name }}{% if ultimate.reach.short_description %}<small class="text-secondary"> - {{ ultimate.reach.short_description }}</small>{% endif %}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    {% if crest.questions_list %}
        {% include 'gm/misc/faq_text.html' with questions=crest.questions_list %}
    {% endif %}
{% endblock %}
