{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Section" %} {{ division.name }} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:division_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des sections" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ division.name}}</h1>
        <blockquote class="blockquote font-italic text-center text-muted">
            <p>{{ division.motto }}</p>
        </blockquote>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">{% trans "Description" %}</h5>
        </div>
        <div class="card-body markdown-format text-justify">
            {{ division.description|safe_markdown }}
        </div>
    </div>
    <div class="card-deck mb-sm-3">
        {% if division.weapons_list %}
            <div class="card">
                <div class="card-header">
                    <h5 class="font-weight-bold font-italic mb-0">
                        {% blocktrans trimmed count counter=division.weapons_list|length %}
                            Arme offerte
                        {% plural %}
                            Armes offertes
                        {% endblocktrans %}
                    </h5>
                </div>
                <div class="card-body">
                    <ul>
                        {% for weapon_division in division.weapons_list %}
                            <li><a href="{% url 'gm:weapon_detail' weapon_division.weapon.slug %}">[{{ weapon_division.weapon.category.name }}] {{ weapon_division.weapon.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if division.overdrives_list %}
            <div class="card">
                <div class="card-header">
                    <h5 class="font-weight-bold font-italic mb-0">
                        {% blocktrans trimmed count counter=division.overdrives_list|length %}
                            Overdrive offert
                        {% plural %}
                            Overdrives offerts
                        {% endblocktrans %}
                    </h5>
                </div>
                <div class="card-body">
                    <ul>
                        {% for overdrive in division.overdrives_list %}
                            {% with od=overdrive.characteristic.name|slugify|add:'-1' %}
                                <li><a href="{% url 'gm:overdrive_detail' od %}">{{ overdrive.characteristic.name }}</a></li>
                            {% endwith%}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if division.modules_list %}
            <div class="card">
                <div class="card-header">
                    <h5 class="font-weight-bold font-italic mb-0">
                        {% blocktrans trimmed count counter=division.modules_list|length %}
                            Module offert
                        {% plural %}
                            Modules offerts
                        {% endblocktrans %}
                    </h5>
                </div>
                <div class="card-body">
                    <ul>
                        {% for module_division in division.modules_list %}
                            <li>
                                <a href="{% url 'gm:module_detail' module_division.module_level.module.slug %}">
                                    {{ module_division.module_level }}
                                    {% if module_division.forced_choice_effect %}
                                        ({{ module_division.forced_choice_effect }})
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% trans 'Aspect' %}
                </h5>
            </div>
            <div class="card-body">
                {% blocktrans trimmed with aspect=division.aspect_bonus.name %}
                    Augmente 1 point dans l'Aspect <em>{{ aspect }}</em> et 1 point dans chaque caractéristique associée à ce dernier :
                {% endblocktrans %}
                <ul>
                    {% for characteristic in division.aspect_bonus.characteristics.all %}
                        <li>
                            <em>{{ characteristic.name }}</em>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">
                {% trans 'Inconvénient' %} - {{ division.disadvantage_name }}
            </h5>
        </div>
        <div class="card-body">
            <div class="text-justify markdown-format">{{ division.disadvantage|safe_markdown }}</div>
        </div>
    </div>
    
    {% if division.questions_list %}
        {% include 'gm/misc/faq_text.html' with questions=division.questions_list %}
    {% endif %}
{% endblock %}
