{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Cap. Hér." %} {{ heroic_ability.name }} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:heroic_ability_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des capacités héroïques" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ heroic_ability.name }}</h1>
        <h4 class="text-center">
            <span class="badge badge-pill badge-secondary">{{ heroic_ability.category.name }}</span>
            <span class="badge badge-pill badge-secondary">{{ heroic_ability.xp_cost }} {% trans "XP" %}</span>
        </h4>
        <p>{% trans "Décrit dans :" %} {{ heroic_ability.origin }}</p>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">
                {% trans 'Description' %}
            </h5>
        </div>
        <div class="card-body text-justify">
            <div class="markdown-format">
                {{ heroic_ability.description|safe_markdown }}
            </div>
            <table class="table table-sm table-striped table-bordered">
                <tbody class="thead-light">
                    <tr>
                        <th scope="row" class="w-25 text-center">{% trans "Activation" %}</th>
                        <td>{{ heroic_ability.activation }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="w-25 text-center">{% trans "Durée" %}</th>
                        <td>{{ heroic_ability.duration }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="w-25 text-center">{% trans "Héroïsme" %}</th>
                        <td>{{ heroic_ability.heroic_cost }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    {% if heroic_ability.questions_list %}
        {% include 'gm/misc/faq_text.html' with questions=heroic_ability.questions_list %}
    {% endif %}
{% endblock %}
