{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Style" %} {{ style.name }} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:style_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des styles de combat" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ style.name }}</h1>
    </div>
    
    <div class="card-deck mb-sm-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% trans 'Description' %}
                </h5>
            </div>
            <div class="card-body text-justify markdown-format">
                {{ style.description|safe_markdown }}
            </div>
        </div>
        
        {% if style.bonus %}
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="font-weight-bold font-italic mb-0">
                        {% trans 'Bonus' %}
                    </h5>
                </div>
                <div class="card-body text-justify">
                    {{ style.bonus|safe_markdown }}
                </div>
            </div>
        {% endif %}
        
        {% if style.malus %}
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="font-weight-bold font-italic mb-0">
                        {% trans 'Malus' %}
                    </h5>
                </div>
                <div class="card-body text-justify">
                    {{ style.malus|safe_markdown }}
                </div>
            </div>
        {% endif %}
    </div>
    
    {% if style.questions_list %}
        {% include 'gm/misc/faq_text.html' with questions=style.questions_list %}
    {% endif %}
{% endblock %}
