{% extends "virtualtable/base.html" %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Aide gestion des tables" %} - {% endblock %}

{% block content %}
    <div class="p-3 my-2">
        <h1 class="text-center">{% trans "Centre d'aide de la table virtuelle Knightools" %}</h1>
    </div>
    <div class="row">
        <div class="col-2">
            <ul class="nav sticky-top flex-column" id="myTab" >
                {% for article in articles_list %}
                    {% if user.game_master or not article.gm %}
                        <li class="nav-item">
                            <a class="nav-link {% if forloop.first %}active{% endif %}" id="article{{ article.pk }}-tab" href="#article{{ article.pk }}" data-toggle="tab" role="tab" >{{ article.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-10 tab-content" id="myTabContent">
            {% for article in articles_list %}
                {% if user.game_master or not article.gm %}
                    <div class="tab-pane fade show text-justify markdown-format img-center img-border {% if forloop.first %}active{% endif %}" id="article{{ article.pk }}" role="tabpanel" aria-labelledby="article{{ article.pk }}-tab">
                        {{ article.article|safe_markdown }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}