{% load static %}
{% load i18n %}
{% load gm_extras %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}{{ KNIGHTOOLS_SITE_NAME }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% get_themed 'gm/css/bootstrap.$THEME$min.css' user request.session append=True append_str='.' as bootstrap_theme %}
    {% get_themed '$THEME$' user request.session only_name=True as bootstrap_theme_name %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static bootstrap_theme %}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'gm/css/jquery-ui-1.12.1.min.css' %}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'gm/css/jquery-ui-1.12.1.structure.min.css' %}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'gm/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'gm/css/submenu.css' %}" />
    {% get_themed 'gm/css/style.$THEME$css' user request.session append=True append_str='.' as knightools_style %}
    {% if knightools_style != 'gm/css/style.css' %}
        <link rel="stylesheet" type="text/css" media="all" href="{% static knightools_style %}" />
    {% endif %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'gm/css/flag-icon.css' %}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'fontawesomefree/css/all.min.css' %}">
    {% block css %}
    {% endblock css %}
    <link rel="icon" href="{% static 'gm/img/favicon.jpg' %}">
    
    <script type="text/javascript" src="{% static 'gm/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'gm/js/jquery-ui-1.12.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'gm/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'gm/js/bootstrap.js' %}"></script>
    {% block js %}
    {% endblock js %}
</head>
{% get_current_language as LANGUAGE_CODE %}
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{% url 'gm:index' %}" title="{{ KNIGHTOOLS_SITE_DESC }}">{{ KNIGHTOOLS_SITE_NAME }} {% if KNIGHTOOLS_SITE_BETA %}<sup><span class="badge badge-light"><small>&beta;</small></span></sup>{% endif %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'gm:index' %}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Accès rapide" %}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="{% url 'gm:index' %}">{% trans "Accueil" %}</a>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">{% trans "Arsenal" %}</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:weapon_list' %}">{% trans "Armes" %}</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:module_list' %}">{% trans "Modules" %}</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:enhancement_list' %}">{% trans "Améliorations" %}</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:overdrive_list' %}">{% trans "Overdrives" %}</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:effect_list' %}">{% trans "Effets" %}</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:heroic_ability_list' %}">{% trans "Capacités héroïques" %}</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:vehicle_list' %}">{% trans "Véhicules" %}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">{% trans "Création de personnage" %}</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:archetype_list' %}">{% trans "Archétypes" %}</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:arcana_list' %}">{% trans "Arcanes majeures" %}</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:great_deed_list' %}">{% trans "Hauts-faits" %}</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:crest_list' %}">{% trans "Blasons" %}</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:armour_list' %}">{% trans "Armures" %}</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:division_list' %}">{% trans "Sections" %}</a>
                                    </li>
                                    {% if LANGUAGE_CODE == 'fr' %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'gm:ai_generator' %}">{% trans "Générateur d'IA" %}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                            {% if user.access_to_restricted_area %}
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">
                                        {% if user.game_master %}
                                            {% trans "Accès MJ" %}
                                        {% else %}
                                            {% trans "Accès restreint" %}
                                        {% endif %}
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% if user.is_trauma_visible %}
                                            {% set_var True as separator_needed %}
                                            <li>
                                                <a class="dropdown-item" href="{% url 'gm:trauma_list' %}">{% trans "Traumas" %}</a>
                                            </li>
                                        {% endif %}
                                        {% if user.is_mecha_visible %}
                                            {% set_var True as separator_needed %}
                                            <li>
                                                <a class="dropdown-item" href="{% url 'gm:mecha_list' %}">{% trans "Mecha-armures" %}</a>
                                            </li>
                                        {% endif %}
                                        {% if user.is_twin_ability_visible %}
                                            {% set_var True as separator_needed %}
                                            <li>
                                                <a class="dropdown-item" href="{% url 'gm:twin_list' %}">{% trans "Capacités gémellaires" %}</a>
                                            </li>
                                        {% endif %}
                                        {% if user.is_ultimate_aptitude_visible %}
                                            {% set_var True as separator_needed %}
                                            <li>
                                                <a class="dropdown-item" href="{% url 'gm:ultimate_list' %}">{% trans "Capacités ultimes" %} : {{ user.is_ultimate_aptitude_visible }}</a>
                                            </li>
                                        {% endif %}
                                        {% if user.game_master and separator_needed %}
                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                        {% endif %}
                                        {% if user.is_npc_capacity_visible %}
                                            <li>
                                                <a class="dropdown-item" href="{% url 'gm:npc_capacity_list' %}">{% trans "Capacités PNJ" %}</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">{% trans "Aides de jeu" %}</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:stance_list' %}">{% trans "Styles de combat" %}</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:weapon_calculator' %}">{% trans "Calculateur d'arme" %}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">{% trans "FAQ" %}</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:faqv1' %}">{% trans "v1" %}</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'gm:faqv1.5' %}">{% trans "v1.5" %}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gm:about' %}">{% trans "À propos" %}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"href="{% url 'gm:index' %}" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Langue" %}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <a class="dropdown-item {% if language.code == LANGUAGE_CODE %} active{% endif %}" href="{% url 'set_language' %}?next={{ request.path|build_new_language_url:language.code }}" data-lang="{{ language.code }}"><span class="flag-icon flag-icon-{% if language.code == 'en' %}gb{% else %}{{ language.code }}{% endif %} mr-1"></span>{{ language.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"href="{% url 'gm:index' %}" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Thème" %}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            <a class="dropdown-item {% if bootstrap_theme_name == 'anathema' %}active{% endif %}" href="#" data-theme="anathema">Anathème</a>
                            <a class="dropdown-item {% if bootstrap_theme_name == 'graal' %}active{% endif %}" href="#" data-theme="graal">Graal</a>
                        </div>
                    </li>
                </ul>
                <form class="d-none" action="{% url 'set_language' %}" id="setlang" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <input name="language" type="hidden" value="{{ get_current_language }}">
                </form>
                <form class="d-none" action="{% url 'gm:set_theme' %}" id="set-theme" method="post"></form>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <h6 class="dropdown-header">{% trans "Compte" %}</h6>
                                <a class="dropdown-item" href="{% url 'users:fav_list' %}">{% trans "Favoris" %}</a>
                                <a class="dropdown-item" href="{% url 'virtualtable:vt_list' %}">{% trans "Tables" %}</a>
                                <a class="dropdown-item d-none" href="#todo">{% trans "Personnages (TODO)" %}</a>
                                <a class="dropdown-item" href="{% url 'users:profile' %}">{% trans "Profil" %}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'account_logout' %}">{% trans "Déconnexion" %}</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}?next={{request.path}}">{% trans "Connexion / S'inscrire" %}</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav d-none {% block display_printer %}{% endblock display_printer %}">
                    <li class="nav-item">
                        <a class="nav-link" href="{% block printer %}{% endblock %}"><i class="fas fa-print"></i> <small>{% trans "Version imprimable" %}</small></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-md-0" action="{% url 'gm:search' %}" method="get">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" id="global-search" class="form-control" placeholder="{% trans 'Recherche' %}" aria-label="{% trans 'Recherche' %}" name="s">
                    </div>
                </form>
            </div>
        </nav>
        {% block warning %}
        {% endblock %}
    </header>
    
    <main class="container">
        {% block content %}
        {% endblock %}
        
        <div class="row">
            <div class="col-12 mt-2"></div><!-- used to avoid the bottom page to be stuck without space -->
        </div>
        <script src="{% static 'gm/js/knightools.js' %}"></script>
    </main>
</body>
</html>
