{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des armes" %} - {% endblock %}

{% block content %}
{% regroup weapon_list by category as weapon_category_list %}

    <div class="d-print-block">
        {% for category, weapons in weapon_category_list %}
            <div style="page-break-after: always;">
                <h1 class="text-center m-5 bg-secondary">
                    {% with 'gm/img/icons8-'|add:category.get_src|add:'-filled-50.png' as image_src %}
                        <img src="{% static image_src %}"> {{ category.name }}
                    {% endwith %}
                </h1>
                {% regroup weapons by rarity as weapon_category_rarity_list %}
                
                {% for rarity, wpn in weapon_category_rarity_list %}
                    <h2 class="text-center mb-1 border mt-5 bg-custom-rarity-{{ rarity.id }}">{{ rarity.name }}</h2>
                    {% for weapon in wpn %}
                        <div class="border px-3 py-2 mb-2">
                            <div style="page-break-inside: avoid;">
                                <h3>
                                    {{ weapon.name }}{% if weapon.cost > 0 %} : {{ weapon.cost}} {% trans "PG" %}{% endif %}
                                </h3>
                                <div class="text-justify">
                                    {% if weapon.description %}
                                        {{ weapon.description|safe_markdown }}
                                    {% endif %}
                                </div>
                            </div>
                            <div style="page-break-inside: avoid;">
                                <table class="table table-sm table-bordered" style="page-break-inside: avoid;">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">{% trans "Attaque" context "titre" %}</th>
                                            <th scope="col">{% trans "Dégâts" %}</th>
                                            <th scope="col">{% trans "Violence" %}</th>
                                            <th scope="col">{% trans "Portée" %}</th>
                                            <th scope="col">{% trans "Énergie" %}</th>
                                            <th scope="col">{% trans "Effet(s)" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for attack in weapon.attacks.all %}
                                        <tr>
                                            <td>{{ attack.name }}</td>
                                            <td>{{ attack.get_damage }}</td>
                                            <td>{{ attack.get_violence }}</td>
                                            <td>{{ attack.reach }}</td>
                                            <td>
                                                {% if attack.energy > 0 %}
                                                    {{ attack.energy }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if attack.effects %}
                                                    {% for effect in attack.effects.all %}
                                                        {{ effect.get_name }}
                                                        {% if effect.energy > 0 %}
                                                            ({{ effect.energy }} {% trans "PE" %})
                                                        {% endif %}
                                                        {% if effect.effect_condition %}
                                                            *
                                                        {% endif %}
                                                        {% if not forloop.last %}
                                                            ;
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                <p><em>{% trans "* Les effets marqués sont soumis à des conditions, voir la fiche complète de l'arme pour plus d'informations." %}</em></p>
            </div>
        {% endfor %}
        
    </div>
    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}