{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Calculateur Longbow" %} - {% endblock %}

{% block css%}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'gm/css/pretty-checkbox.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'gm/js/calculators/longbow.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{% trans "Calculateur Longbow" %}</h1>
    </div>
    
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="text-center font-weight-bold font-italic mb-0">
                {% trans 'Évolutions débloquées' %}
            </h5>
        </div>
        <div class="card-body text-justify" id="evolutions-check">
            <div class="row">
                <div class="col">
                    <div class="pretty p-icon p-smooth">
                        <input type="checkbox" value="upgrade-base" />
                        <div class="state p-success">
                            <label>{% trans "Amélioration profil de base" %}</label>
                            <i class="icon fa fa-check"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="pretty p-icon p-smooth">
                        <input type="checkbox" value="unlock-list" />
                        <div class="state p-success">
                            <label>{% trans "Débloquer la liste 3" %}</label>
                            <i class="icon fa fa-check"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="pretty p-icon p-smooth">
                        <input type="checkbox" value="reduce-cost" />
                        <div class="state p-success">
                            <label>{% trans "Réduction coût en PE" %}</label>
                            <i class="icon fa fa-check"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="pretty p-icon p-smooth">
                        <input type="checkbox" value="drop-heavy" />
                        <div class="state p-success">
                            <label>{% trans "Suppression lourd" %}</label>
                            <i class="icon fa fa-check"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="text-center font-weight-bold font-italic mb-0">
                {% trans "Choix des effets" %} <button role="button" type="button" class="btn btn-sm btn-outline-danger" id="reset-form"><i class="fas fa-ban"></i> {% trans "Réinitialiser" %}</button>
            </h5>
        </div>
        <div class="card-body" id="effect-lists">
            <div class="row">
                <div class="col">
                    <h6>{% trans 'Augmentation dégâts et portée' %}</h6>
                    <div class="row mb-2">
                        <label for="boost-damage" class="col col-form-label col-form-label-sm">{% trans "Boost" %} <small>{% trans "(1PE/D6)" %}</small></label>
                        <div class="col-7">
                            <div class="input-group input-group-sm">
                                <input type="number" id="boost-damage" value="" min="0" max="6"  placeholder="{% trans 'dgts' %}" aria-label="{% trans 'dgts' %}" class="form-control numberinput">
                                <input type="number" id="boost-violence" value="" min="0" max="6"  placeholder="{% trans 'vlnc' %}" aria-label="{% trans 'vlnc' %}" class="form-control numberinput">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="reach" class="col-5 col-form-label col-form-label-sm">{% trans "Portée" %}</label>
                        <div class="col-7">
                            <select class="form-control form-control-sm" id="reach">
                                <option data-reach-label="{% trans 'Moyenne' %}" value="0">-</option>
                                <option data-reach-label="{% trans 'Longue' %}" value="1">{% trans "Longue (+1PE)" %}</option>
                                <option data-reach-label="{% trans 'Lointaine' %}" value="2">{% trans "Lointaine (+2PE)" %}</option>
                                </select>
                        </div>
                    </div>
                </div>
                
                <div class="col effect-list">
                    <h6>{% trans 'Liste' %} 1 (<span data-default-value="2">2</span> {% trans 'PE/effet' %})</h6>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" value="choc-x" />
                            <div class="state p-success">
                                <label>{% trans 'Choc' %} (1)</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" value="degats-continus-x" />
                            <div class="state p-success">
                                <label>{% trans 'Dégâts continus' %} (3)</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" value="designation" />
                            <div class="state p-success">
                                <label>{% trans 'Désignation' %}</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" name="perce-armure-x" value="perce-armure-x" />
                            <div class="state p-success">
                                <label>{% trans 'Perce armure' %} (40)</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" value="silencieux" />
                            <div class="state p-success">
                                <label>{% trans 'Silencieux' %}</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" value="ultraviolence" />
                            <div class="state p-success">
                                <label>{% trans 'Ultraviolence' %}</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col effect-list">
                    <h6>{% trans 'Liste' %} 2 (<span data-default-value="3">3</span> {% trans 'PE/effet' %})</h6>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" value="anti-vehicule" />
                            <div class="state p-success">
                                <label>{% trans 'Anti-véhicule' %}</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" value="artillerie" />
                            <div class="state p-success">
                                <label>{% trans 'Artillerie' %}</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" value="dispersion-x" />
                            <div class="state p-success">
                                <label>{% trans 'Dispersion' %} (3)</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" value="lumiere-x" />
                            <div class="state p-success">
                                <label>{% trans 'Lumière' %} (4)</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" name="penetrant-x" value="penetrant-x" />
                            <div class="state p-success">
                                <label>{% trans 'Pénétrant' %} (6)</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" name="perce-armure-x" value="perce-armure-x" />
                            <div class="state p-success">
                                <label>{% trans 'Perce armure' %} (60)</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col effect-list" id="unlockable-list">
                    <h6>{% trans 'Liste' %} 3 (<span data-default-value="6">6</span> {% trans 'PE/effet' %})</h6>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" value="anti-anatheme" disabled />
                            <div class="state p-success">
                                <label>{% trans 'Anti-anathème' %}</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" value="demoralisant" disabled />
                            <div class="state p-success">
                                <label>{% trans 'Démoralisant' %}</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" value="en-chaine" disabled />
                            <div class="state p-success">
                                <label>{% trans 'En chaîne' %}</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" value="fureur" disabled />
                            <div class="state p-success">
                                <label>{% trans 'Fureur' %}</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" name="perce-armure-x" value="ignore-armure" disabled />
                            <div class="state p-success">
                                <label>{% trans 'Ignore armure' %}</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="pretty p-icon p-smooth">
                            <input type="checkbox" name="penetrant-x" value="penetrant-x" disabled />
                            <div class="state p-success">
                                <label>{% trans 'Pénétrant' %} (10)</label>
                                <i class="icon fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="text-center font-weight-bold font-italic mb-0">
                {% trans "Résultat" %}
            </h5>
        </div>
        <div class="card-body">
            <h6 class="text-center">{% trans 'Coût final du tir' %} : <strong><span id="final-cost">0</span> {% trans 'PE' %}</strong></h6 class="text-center">
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">{% trans "Dégâts" %}</th>
                        <th scope="col">{% trans "Violence" %}</th>
                        <th scope="col">{% trans "Portée" %}</th>
                        <th scope="col">{% trans "Effets" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="damage"><span data-default-value="{{ longbow.attacks.first.damage_dice }}" data-raw-value="{{ longbow.attacks.first.damage_dice }}">{{ longbow.attacks.first.damage_dice }}</span>D6 (<span data-avg-value>9</span>)</td>
                        <td id="violence"><span data-default-value="{{ longbow.attacks.first.violence_dice }}" data-raw-value="{{ longbow.attacks.first.violence_dice }}">{{ longbow.attacks.first.violence_dice }}</span>D6 (<span data-avg-value>3</span>)</td>
                        <td id="final-reach">{{ longbow.attacks.first.reach }}</td>
                        <td>
                            <ul id="final-effect-list">
                                <li class="unremovable"><a href="/effect/assistance-a-lattaque">{% trans "Assistance à l'attaque" %}</a></li>
                                <li class="unremovable"><a href="/effect/deux-mains">{% trans 'Deux mains' %}</a></li>
                                <li class="unremovable" id="heavy-effect"><a href="/effect/lourd">{% trans 'Lourd' %}</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}
