{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}
{% load gm_extras %}

{% block title %}{% trans "Calculateur d'arme" %} - {% endblock %}

{% block css%}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'gm/css/pretty-checkbox.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'gm/js/calculators/weapon.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{% trans "Calculateur d'arme" %}</h1>
    </div>
    
    <ul class="nav nav-tabs justify-content-center" id="calculatorTab" role="tablist">
        {% for weapon in weapons %}
            <li class="nav-item">
                <a class="nav-link {% if forloop.first %}active{% endif %}" id="weap{{ weapon.id }}-tab" data-toggle="tab" href="#weap{{ weapon.id }}" role="tab" aria-controls="weap{{ weapon.id }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ weapon.name }}</a>
            </li>
        {% endfor %}
    </ul>
    
    <div class="tab-content" id="calculatorTabContent">
        {% for weapon in weapons %}
            <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="weap{{ weapon.id }}" role="tabpanel" aria-labelledby="weap{{ weapon.id }}-tab" data-max-effect-by-list="{{ weapon.calculator_max_effects_by_list }}">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="text-center font-weight-bold font-italic mb-0">
                            {% trans 'Débloqué...' %}
                        </h5>
                    </div>
                    <div class="card-body text-justify evolutions-check">
                        <div class="row">
                            {% for attack in weapon.non_initial_attacks %}
                                    <div class="col">
                                        <div class="pretty p-icon p-smooth">
                                            <input type="checkbox" value="{{ attack.calculator_behaviour }}" {% if attack.calculator_energy_reduction %}data-energy-reduction="{{ attack.calculator_energy_reduction }}"{% endif %} {% if attack.calculator_energy_min %}data-energy-minimum="{{ attack.calculator_energy_min }}"{% endif %} data-attack-id="{{ attack.pk }}" data-attack-damage-dice="{{ attack.damage_dice }}" data-attack-damage-bonus="{{ attack.damage_bonus }}" data-attack-violence-dice="{{ attack.violence_dice }}" data-attack-violence-bonus="{{ attack.violence_bonus }}" data-min-reach="{{ attack.reach.pk }}" data-attack-effects="{% for attack_effect in attack.get_calculator_special_effects %}{{ attack_effect.effect.calculator_behaviour }}:{{ attack_effect.energy }}:{{ attack_effect.effect_level }}{% if not forloop.last %}|{% endif %}{% endfor %}"/>
                                            <div class="state p-success">
                                                <label>{{ attack.calculator_name }}</label>
                                                <i class="icon fa fa-check"></i>
                                            </div>
                                        </div>
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="text-center font-weight-bold font-italic mb-0">
                            {% trans "Choix des effets" %} <button role="button" type="button" class="btn btn-sm btn-outline-danger reset-form"><i class="fas fa-ban"></i> {% trans "Réinitialiser" %}</button>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6>{% trans 'Augmentation dégâts et portée' %}</h6>
                                {% for attack in weapon.initial_attacks %}
                                    {% for attack_effect in attack.get_calculator_special_effects %}
                                        {% if attack_effect.effect.calculator_behaviour == 'BST' %}
                                            <div class="row mb-2">
                                                <label for="boost-damage-{{attack.pk}}" class="col col-form-label col-form-label-sm">{{ attack_effect.effect.get_calculator_name }} <small>{% trans "(1PE/D6)" %}</small></label>
                                                <div class="col-7">
                                                    <div class="input-group input-group-sm">
                                                        <input type="number" id="boost-damage-{{attack.pk}}" value="" min="0" data-ini-max="{{ attack_effect.effect_level }}" max="{{ attack_effect.effect_level }}" data-attack-id="{{ attack.pk }}" placeholder="{% trans 'dgts' %}" aria-label="{% trans 'dgts' %}" class="form-control numberinput boost-damage">
                                                        <input type="number" value="" min="0" data-ini-max="{{ attack_effect.effect_level }}" max="{{ attack_effect.effect_level }}" data-attack-id="{{ attack.pk }}"  placeholder="{% trans 'vlnc' %}" aria-label="{% trans 'vlnc' %}" class="form-control numberinput boost-violence">
                                                    </div>
                                                </div>
                                            </div>
                                        {% elif attack_effect.effect.calculator_behaviour == 'RCH' %}
                                            <div class="form-group row">
                                                <label for="reach-{{attack.pk}}" class="col-5 col-form-label col-form-label-sm">{% trans "Portée" %}</label>
                                                <div class="col-7">
                                                    <select class="form-control form-control-sm reach" id="reach-{{attack.pk}}" data-energy-by-step="{{ attack_effect.energy }}">
                                                        {% set_var 0 as ep_cost %}
                                                        {% for reach in reaches.all %}
                                                            {% if reach.pk >= attack.reach.pk %}
                                                                <option data-reach-label="{{ reach.name }}" data-ini-cost="{{ ep_cost }}" data-cost="{{ ep_cost }}" data-ini-label="{% if reach.pk == attack.reach.pk %}-{% else %}{{ reach.name }} {% blocktranslate %}(+{{ ep_cost }}PE){% endblocktranslate %}{% endif %}" value="{{ reach.pk }}">{% if reach.pk == attack.reach.pk %}-{% else %}{{ reach.name }} {% blocktranslate %}(+{{ ep_cost }}PE){% endblocktranslate %}{% endif %}</option>
                                                                {% set_var ep_cost|add:attack_effect.energy as ep_cost %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                            
                            {% for attack in weapon.initial_attacks %}
                                {% regroup attack.get_calculator_effect_list by energy as effects_list %}
                                {% for energy, effects in effects_list %}
                                    <div class="col effect-lists" id="list-{{ attack.pk }}-{{ energy }}">
                                        <h6>{{ attack.calculator_name }} {% if effects_list|length > 1 %}{{ forloop.counter }}{% endif %} (<span data-default-value="{{ energy }}">{{ energy }}</span> {% trans 'PE/effet' %})</h6>
                                        {% for attack_effect in effects %}
                                            <div class="mb-2">
                                                <div class="pretty p-icon p-smooth">
                                                    <input type="checkbox" name="{{ attack_effect.effect.get_slug }}" value="{{ attack_effect.effect.get_slug }}"/>
                                                    <div class="state p-success">
                                                        <label>{{ attack_effect.get_name }}</label>
                                                        <i class="icon fa fa-check"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for attack in weapon.listing_attacks %}
                                {% regroup attack.get_calculator_effect_list by energy as effects_list %}
                                {% for energy, effects in effects_list %}
                                    <div class="col effect-lists unlockable-list-{{ attack.pk }}" id="list-{{ attack.pk }}-{{ energy }}" class="locked">
                                        <h6>{{ attack.calculator_name }} {% if effects_list|length > 1 %}{{ forloop.counter }}{% endif %} (<span data-default-value="{{ energy }}">{{ energy }}</span> {% trans 'PE/effet' %})</h6>
                                        {% for attack_effect in effects %}
                                            <div class="mb-2">
                                                <div class="pretty p-icon p-smooth">
                                                    <input type="checkbox" name="{{ attack_effect.effect.get_slug }}" value="{{ attack_effect.effect.get_slug }}" disabled />
                                                    <div class="state p-success">
                                                        <label>{{ attack_effect.get_name }}</label>
                                                        <i class="icon fa fa-check"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="text-center font-weight-bold font-italic mb-0">
                            {% trans "Résultat" %}
                        </h5>
                    </div>
                    <div class="card-body">
                        <h6 class="text-center">{% trans 'Coût final' %} : <strong><span class="final-cost">0</span> {% trans 'PE' %}</strong></h6 class="text-center">
                        <table class="table table-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">{% trans "Dégâts" %}</th>
                                    <th scope="col">{% trans "Violence" %}</th>
                                    <th scope="col">{% trans "Portée" %}</th>
                                    <th scope="col">{% trans "Effets" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for attack in weapon.initial_attacks %}
                                    <tr id="final-attack-{{ attack.pk}}">
                                        <td class="damage"><span data-default-value="{{ attack.damage_dice }}" data-raw-value="{{ attack.damage_dice }}">{{ attack.damage_dice }}</span>D6 (<span data-avg-value></span>) <span data-default-bonus="{{ attack.damage_bonus }}" data-raw-bonus="{{ attack.damage_bonus }}"></span></td>
                                        <td class="violence"><span data-default-value="{{ attack.violence_dice }}" data-raw-value="{{ attack.violence_dice }}">{{ attack.violence_dice }}</span>D6 (<span data-avg-value></span>) <span data-default-bonus="{{ attack.violence_bonus }}" data-raw-bonus="{{ attack.violence_bonus }}"></span></td>
                                        <td class="final-reach">{{ attack.reach }}</td>
                                        <td>
                                            <ul class="final-effect-list">
                                                {% for attack_effect in attack.get_calculator_base_effects %}
                                                    {% if not attack_effect.effect.calculator_behaviour %}
                                                        <li class="unremovable{% if attack_effect.rem_attack_id %} hidden-by-attack-{{attack_effect.rem_attack_id}}{% endif %}"><a href="/effect/{{ attack_effect.effect.slug }}">{{ attack_effect.get_name }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    
    
{% endblock %}
