<span class="d-none d-sm-inline-block">
    <a href="{% url 'gm:effect_detail' effect.effect.slug %}" title="{{ effect.get_description|linebreaksbr }}" data-html="true" data-toggle="tooltip">{{ effect.get_name }}</a>
</span>
<span class="d-inline-block d-sm-none">
    <a onclick="$(this).tooltip('toggle');" title="{{ effect.get_description|linebreaksbr }}" data-html="true" data-toggle="tooltip">{{ effect.get_name }}</a>
    <a href="{% url 'gm:effect_detail' effect.effect.slug %}"><i class="ml-2 fas fa-xs fa-external-link-alt"></i></a>
</span>