{% load i18n %}
{% load l10n %}
{% load static %}
{% load martortags %}

{% for question in questions %}
    {% if not forloop.first %}
        <div class="text-center"><div class="knight-hr my-3 d-inline-block w-50"></div></div>
    {% endif %}
    <div class="p-2">
        <strong class="question" id="q{{ question.id }}">
            {% if question.gm %}
                <span class="align-top badge badge-pill badge-danger">
                    <small>{% trans "MJ" %}</small>
                </span>
            {% endif %}
            {% if question.source_type %}
                <i class="{{ question.get_fontawesome_by_source_type }}"></i>
            {% endif%}
            <a href="{% if question.v1_5 %}{% url 'gm:faqv1.5' %}#q{{ question.id }}{% else %}{% url 'gm:faqv1' %}#q{{ question.id }}{% endif %}"><i class="fa-solid fa-link"></i></a>
            {{ question.question }}
        </strong>
        <br>
        {% if show_path %}
            {% for categ in question.category.all %}
                <span class="text-secondary font-italic"><small>
                    {% for fam in categ.get_ancestors %}
                        {% if not forloop.first %} > {% endif %}
                        {% if question.v1_5 %}
                            <a href="{% url 'gm:faqv1.5' %}#category-{{ fam.id }}">{{ fam.translations.name }}</a>
                        {% elif question.v1 %}
                            <a href="{% url 'gm:faqv1' %}#category-{{ fam.id }}">{{ fam.translations.name }}</a>
                        {% endif %}
                        {% if forloop.last %} > {% endif %}
                    {% endfor %}
                    {% if question.v1_5 %}
                        <a href="{% url 'gm:faqv1.5' %}#category-{{ categ.id }}">{{ categ.translations.name }}</a>
                    {% elif question.v1 %}
                        <a href="{% url 'gm:faqv1' %}#category-{{ categ.id }}">{{ categ.translations.name }}</a>
                    {% endif %}
                </small> - </span>
            {% endfor %}
        {% endif %}
        <small class="text-secondary">
            {{question.updated|localize}}
        </small>
        <div class="markdown-format text-justify mt-2">
            {{ question.answer|safe_markdown }}
        </div>
    </div>
{% endfor %}
