{% load i18n %}
<div class="row">
    <div class="col-12">
        <div id="dt-filter" class="">
            <label>
                Filtrer :<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="">
            </label>
        </div>
    </div>

    {% if rarities %}
        <div class="col-6 col-md-12">
            <h6>{% trans "Rareté" %}</h6>
            <div class="row" id="dt-rarity-search">
                {% for elem in rarities %}
                    <div class="col-12 col-md-2 text-nowrap">
                        <label>
                            <input type="checkbox" value="{{ elem.name }}" name="rarity-search" id="rarity-search-{{ elem.id }}" class="align-text-top">
                            <span class="thumbnail-bg bg-custom-rarity-{{ elem.id }}"></span>
                            {{ elem.name }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
    {% if categories %}
        <div class="col-6 col-md-12">
            <h6>{% trans "Catégorie" %}</h6>
            <div class="row" id="dt-category-search">
                {% for elem in categories %}
                    <div class="col-12 col-md-2">
                        <label>
                                <input type="checkbox" value="{{ elem.name }}" name="category-search" id="category-search-{{ elem.id }}">
                                {{ elem.name }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if sources %}
        <div class="col-6 col-md-12">
            <h6>{% trans "Source" %}</h6>
            <div class="row" id="dt-source-search">
                {% for elem in sources %}
                    <div class="col-12 col-md-2 text-nowrap">
                        <label>
                                <input type="checkbox" value="{{ elem.name }}" name="source-search" id="source-search-{{ elem.id }}" {% if user.is_authenticated and elem in user.prechecked_sources.all %}checked{% endif %}>
                                {{ elem.name }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if activations %}
        <div class="col-6 col-md-12">
            <h6>{% trans "Activation" %}</h6>
            <div class="row" id="dt-activation-search">
                {% for elem in activations %}
                    <div class="col-12 col-md-2 text-nowrap">
                        <label>
                                <input type="checkbox" value="{{ elem.name }}" name="activation-search" id="activation-search-{{ elem.id }}">
                                {{ elem.name }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if npc_ability %}
        <div class="col-12">
            <h6>{% trans "Accessibilité" %}</h6>
            <div class="row" id="dt-npc-ability-common-search">
                <div class="col col-md-3">
                    <label>
                            <input type="checkbox" checked value="True" name="npc-ability-common-search" id="npc-ability-common-search-true">
                            {% trans "Commune" %}
                    </label>
                </div>
                <div class="col col-md-3">
                    <label>
                            <input type="checkbox" value="False" name="npc-ability-common-search" id="npc-ability-common-search-false">
                            {% trans "Spécifique" %}
                    </label>
                </div>
            </div>
            
            <div class="d-none d-lg-block">
                <h6>{% trans "Compatibilité" %}</h6>
                <div class="row" id="dt-npc-ability-search">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="human-allowed-search">Humain</label>
                            <select id="human-allowed-search" name="human-allowed-search" class="form-control form-control-sm">
                                <option value="">{% trans "Tous" %}</option>
                                <option value="True">{% trans "Autorisé" %}</option>
                                <option value="False">{% trans "Interdit" %}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="anathema-allowed-search">Anathème</label>
                            <select id="anathema-allowed-search" name="anathema-allowed-search" class="form-control form-control-sm">
                                <option value="">{% trans "Tous" %}</option>
                                <option value="True">{% trans "Autorisé" %}</option>
                                <option value="False">{% trans "Interdit" %}</option>
                            </select>
                        </div>
                    </div>
                    {% if user.is_gest_game_master %}
                        <div class="col-3">
                            <div class="form-group">
                                <label for="ether-allowed-search">Éther</label>
                                <select id="ether-allowed-search" name="ether-allowed-search" class="form-control form-control-sm">
                                    <option value="">{% trans "Tous" %}</option>
                                    <option value="True">{% trans "Autorisé" %}</option>
                                    <option value="False">{% trans "Interdit" %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="void-allowed-search">Vide</label>
                                <select id="void-allowed-search" name="void-allowed-search" class="form-control form-control-sm">
                                    <option value="">{% trans "Tous" %}</option>
                                    <option value="True">{% trans "Autorisé" %}</option>
                                    <option value="False">{% trans "Interdit" %}</option>
                                </select>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            
            <div class="d-none d-lg-block">
                <h6>{% trans "Types" %}</h6>
                <div class="row" id="dt-npc-ability-type-search">
                    {% for elem in npc_types %}
                        <div class="col-2">
                            <label>
                                    <input type="checkbox" value="{{ elem.name }}" data-type-id="{{ elem.id }}" name="npc-ability-type-search" id="npc-ability-type-search-{{ elem.id }}">
                                    {{ elem.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</div>