{% load i18n %}
{% load static %}
{% load martortags %}
{% load gm_extras %}


<div class="card mb-3">
    <div class="card-header">
        <h6 class="font-weight-bold font-italic mb-0">{{ action.name }}</h6>
    </div>
    <div class="card-body">
        <div class="markdown-format text-justify">
            {{ action.description|safe_markdown }}
        </div>
        <div>
            <table class="table table-sm table-bordered table-striped">
                <tbody class="thead-light">
                    {% if action.activation %}
                        <tr>
                            <th scope="row" class="w-25 text-center">{% trans "Activation" %}</th>
                            <td class="w-75">{{ action.activation }}</td>
                        </tr>
                    {% endif %}
                    {% if action.core %}
                        <tr>
                            <th scope="row" class="w-25 text-center">{% trans "Noyaux" %}</th>
                            <td class="w-75">{{ action.core }}</td>
                        </tr>
                    {% endif %}
                    {% if action.duration %}
                        <tr>
                            <th scope="row" class="w-25 text-center">{% trans "Durée" %}</th>
                            <td class="w-75">{{ action.duration }}</td>
                        </tr>
                    {% endif %}
                    {% if action.reach %}
                        <tr>
                            <th scope="row" class="w-25 text-center">{% trans "Portée" %}</th>
                            <td class="w-75">{{ action.reach }}{% if action.reach.short_description %}<small class="text-secondary"> - {{ action.reach.short_description }}</small>{% endif %}</td>
                        </tr>
                    {% endif %}
                    {% if action.get_damage %}
                        <tr>
                            <th scope="row" class="w-25 text-center">{% trans "Dégâts" %}</th>
                            <td class="w-75">{{ action.get_damage }}</td>
                        </tr>
                    {% endif %}
                    {% if action.get_violence %}
                        <tr>
                            <th scope="row" class="w-25 text-center">{% trans "Violence" %}</th>
                            <td class="w-75">{{ action.get_violence }}</td>
                        </tr>
                    {% endif %}
                    {% if action.effects %}
                        <tr>
                            <th scope="row" class="text-center">{% trans "Effet(s)" %}</th>
                            <td class="markdown-format">{{ action.effects|safe_markdown }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
