{% load static %}
{% load martortags %}
{% load i18n %}
{% load gm_extras %}

{% if npc.simplified %}
    <div class="d-none d-sm-block ">
        <table class="table table-sm text-center table-bordered table-striped mb-0">
            <thead class="thead-light">
                <tr>
                    <th scope="col">{% trans "Défense" %}</th>
                    <th scope="col">{% trans "Réaction" %}</th>
                    {% if npc.initiative %}
                        <th scope="col">{% trans "Initiative" %}</th>
                    {% endif %}
                    {% if npc.health_points %}
                        <th scope="col">{% trans "PS" %}</th>
                    {% endif %}
                    {% if npc.energy_points %}
                        <th scope="col">{% trans "PE" %}</th>
                    {% endif %}
                    {% if npc.armour_points %}
                        <th scope="col">{% trans "PA" %}</th>
                    {% endif %}
                    {% if npc.force_field %}
                        <th scope="col">{% trans "CdF" %}</th>
                    {% endif %}
                    {% if npc.cohesion %}
                        <th scope="col">{% trans "Cohésion" %}</th>
                    {% endif %}
                    {% if npc.outbreak %}
                        <th scope="col">{% trans "Débordement" %}</th>
                    {% endif %}
                    {% if npc.speed > 0 %}
                        <th scope="col">{% trans "Vitesse" %}</th>
                    {% endif%}
                </tr>
            </thead>
            <tbody class="thead-light">
                <tr>
                    <td>{{ npc.defence }}</td>
                    <td>{{ npc.reaction }}</td>
                    {% if npc.initiative %}
                        <td>{{ npc.initiative }}</td>
                    {% endif %}
                    {% if npc.health_points %}
                        <td>{{ npc.health_points }}</td>
                    {% endif %}
                    {% if npc.energy_points %}
                        <td>{{ npc.energy_points }}</td>
                    {% endif %}
                    {% if npc.armour_points %}
                        <td>{{ npc.armour_points }}</td>
                    {% endif %}
                    {% if npc.force_field %}
                        <td>{{ npc.force_field }}</td>
                    {% endif %}
                    {% if npc.cohesion %}
                        <td>{{ npc.cohesion }}</td>
                    {% endif %}
                    {% if npc.outbreak %}
                        <td>{{ npc.outbreak }}</td>
                    {% endif %}
                    {% if npc.speed > 0 %}
                        <td>{{ npc.speed }}</td>
                    {% endif%}
                </tr>
                {% for charac in npc.characteristics.all %}
                <tr>
                    <th scope="row">{{ charac.characteristic.name }}</th>
                    <td>{{ charac.get_test }}</td>
                    <td colspan="{{ npc.get_colspan }}"></td>
                </tr>
                {% endfor %}
                {% if npc.get_weapons %}
                    <th scope="row">
                        {% blocktrans trimmed count counter=npc.weapons.all|length %}
                            Arme
                        {% plural %}
                            Armes
                        {% endblocktrans %}
                    </th>
                    <td class="text-left" colspan="{{ npc.get_colspan }}">
                        {% regroup npc.get_weapons by weapon.category as weapon_category_list %}
                        
                        {% for category, weapons in weapon_category_list %}
                            <div>
                                {{ category.name }} - 
                                {% for weapon in weapons %}
                                    <a href="{% url 'gm:weapon_detail' weapon.weapon.slug %}">{{ weapon.weapon.name }}</a>
                                    {% if not forloop.last %}
                                    / 
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </td>
                {% endif %}
                {% if npc.get_modules %}
                <tr>
                    <th scope="row">
                        {% blocktrans trimmed count counter=npc.modules.all|length %}
                            Module
                        {% plural %}
                            Modules
                        {% endblocktrans %}
                    </th>
                    <td class="text-left" colspan="{{ npc.get_colspan }}">
                        {% for modulenpc in npc.get_modules %}
                            <a href="{% url 'gm:module_detail' modulenpc.module_level.module.slug %}">{{ modulenpc.module_level }}</a>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="d-block d-sm-none ">
        <table class="table table-sm table-bordered table-striped mb-0">
            <tbody class="thead-light text-center">
                <tr>
                    <th scope="row">{% trans "Défense" %}</th>
                    <td>{{ npc.defence }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Réaction" %}</th>
                    <td>{{ npc.reaction }}</td>
                </tr>
                {% if npc.initiative %}
                    <tr>
                        <th scope="row">{% trans "Initiative" %}</th>
                        <td>{{ npc.initiative }}</td>
                    </tr>
                {% endif %}
                {% if npc.health_points %}
                    <tr>
                        <th scope="row">{% trans "PS" %}</th>
                        <td>{{ npc.health_points }}</td>
                    </tr>
                {% endif %}
                {% if npc.energy_points %}
                    <tr>
                        <th scope="row">{% trans "PE" %}</th>
                        <td>{{ npc.energy_points }}</td>
                    </tr>
                {% endif %}
                {% if npc.armour_points %}
                    <tr>
                        <th scope="row">{% trans "PA" %}</th>
                        <td>{{ npc.armour_points }}</td>
                    </tr>
                {% endif %}
                {% if npc.force_field %}
                    <tr>
                        <th scope="row">{% trans "CdF" %}</th>
                        <td>{{ npc.force_field }}</td>
                    </tr>
                {% endif %}
                {% if npc.cohesion %}
                    <tr>
                        <th scope="row">{% trans "Cohésion" %}</th>
                        <td>{{ npc.cohesion }}</td>
                    </tr>
                {% endif %}
                {% if npc.outbreak %}
                    <tr>
                        <th scope="row">{% trans "Débordement" %}</th>
                        <td>{{ npc.outbreak }}</td>
                    </tr>
                {% endif %}
                {% if npc.speed %}
                    <tr>
                        <th scope="row">{% trans "Vitesse" %}</th>
                        <td>{{ npc.speed }}</td>
                    </tr>
                {% endif %}
                {% for charac in npc.characteristics.all %}
                    <tr>
                        <th scope="row">{{ charac.characteristic.name }}</th>
                        <td>{{ charac.get_test }}</td>
                    </tr>
                {% endfor %}
                {% if npc.get_weapons %}
                    <th scope="row">
                        {% blocktrans trimmed count counter=npc.weapons.all|length %}
                            Arme
                        {% plural %}
                            Armes
                        {% endblocktrans %}
                    </th>
                    <td class="text-left">
                        {% regroup npc.get_weapons by weapon.category as weapon_category_list %}
                        
                        {% for category, weapons in weapon_category_list %}
                            <div>
                                {{ category.name }} - 
                                {% for weapon in weapons %}
                                    <a href="{% url 'gm:weapon_detail' weapon.weapon.slug %}">{{ weapon.weapon.name }}</a>
                                    {% if not forloop.last %}
                                    / 
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </td>
                {% endif %}
                {% if npc.get_modules %}
                    <tr>
                        <th scope="row">
                            {% blocktrans trimmed count counter=npc.modules.all|length %}
                                Module
                            {% plural %}
                                Modules
                            {% endblocktrans %}
                        </th>
                        <td class="text-left">
                            {% for modulenpc in npc.get_modules %}
                                <a href="{% url 'gm:module_detail' modulenpc.module_level.module.slug %}">{{ modulenpc.module_level }}</a>
                                {% if not forloop.last %} - {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endif %}
{% if not npc.simplified %}
    <div class="d-none d-sm-block">
        <table class="table table-sm table-bordered table-striped text-center mb-0">
            <tbody class="thead-light">
                <tr>
                    <th>{% trans "Aspect" %}</th>
                    {% for aspect in npc.aspects.all %}
                        <th>
                            {{ aspect.aspect.name }}
                            <i data-toggle="tooltip-next" class="fa fa-xs fa-question-circle text-secondary"></i>
                            <span class="d-none" tooltip-title>{{ aspect.aspect.npc_description }}</span>
                        </th>
                    {% endfor %}
                    <th>{% trans "Champ de Force" %}</th>
                </tr>
                <tr>
                    <th>{% trans "Valeur" %}</th>
                    {% for aspect in npc.aspects.all %}
                        <td>{{ aspect.basic_value }}</td>
                    {% endfor %}
                    <td>
                        {% if npc.force_field %}
                            {{ npc.force_field }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Except." %}</th>
                    {% for aspect in npc.aspects.all %}
                        <td>
                            {% if aspect.except_value > 0 %}
                                {% if aspect.except_major %}
                                    {% blocktrans with except_value=aspect.except_value %}Majeur ({{ except_value }}){% endblocktrans %}
                                    <i data-toggle="tooltip-next" class="fa fa-xs fa-question-circle text-secondary"></i>
                                    <span class="d-none" tooltip-title><p><strong>{{ aspect.aspect.exceptional_global_description }}</strong></p><p><em>{{ aspect.aspect.exceptional_minor_effect_description}}</em></p><p><em>{{ aspect.aspect.exceptional_major_effect_description}}</em></p></span>
                                {% else %}
                                    {% blocktrans with except_value=aspect.except_value %}Mineur ({{ except_value }}){% endblocktrans %}
                                    <i data-toggle="tooltip-next" class="fa fa-xs fa-question-circle text-secondary"></i>
                                    <span class="d-none" tooltip-title><p><strong>{{ aspect.aspect.exceptional_global_description }}</strong></p><p><em>{{ aspect.aspect.exceptional_minor_effect_description}}</em></p></span>
                                {% endif %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td></td>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        {% if npc.cohesion %}
                            {% trans "Cohésion" %}
                        {% else %}
                            {% trans "PS" %}
                        {% endif %}
                    </th>
                    <th>{% trans "Défense" %}</th>
                    <th>{% trans "Réaction" %}</th>
                    <th>{% trans "PA" %}</th>
                    <th>
                        {% if npc.outbreak %}
                            {% trans "Débordement" %}
                        {% else %}
                            {% trans "Initiative" %}
                        {% endif %}
                    </th>
                    <th>{% trans "PE" %}</th>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        {% if npc.cohesion %}
                            {{ npc.cohesion }}
                        {% else %}
                            {{ npc.health_points }}
                        {% endif %}
                    </td>
                    <td>{{ npc.defence }}</td>
                    <td>{{ npc.reaction }}</td>
                    <td>{{ npc.armour_points }}</td>
                    <td>
                        {% if npc.outbreak %}
                            {{ npc.outbreak }}
                        {% else %}
                            {{ npc.initiative }}
                        {% endif %}
                    </td>
                    <td>{{ npc.energy_points }}</td>
                </tr>
                {% if npc.has_slots %}
                    <tr>
                        <th scope="row">{% trans "Slots" %}</th>
                        <td colspan="6">
                            <div class="slot">
                                <div class="slot-head">{{ npc.slot_head }}</div>
                                <div class="slot-left-arm">{{ npc.slot_left_arm }}</div>
                                <div class="slot-right-arm">{{ npc.slot_right_arm }}</div>
                                <div class="slot-torso">{{ npc.slot_torso }}</div>
                                <div class="slot-left-leg">{{ npc.slot_left_leg }}</div>
                                <div class="slot-right-leg">{{ npc.slot_right_leg }}</div>
                            </div>
                        </td>
                    </tr>
                {% endif %}
                {% if npc.get_weapons %}
                    <th scope="row">
                        {% blocktrans trimmed count counter=npc.weapons.all|length %}
                            Arme
                        {% plural %}
                            Armes
                        {% endblocktrans %}
                    </th>
                    <td class="text-left" colspan="6">
                        {% regroup npc.get_weapons by weapon.category as weapon_category_list %}
                        
                        {% for category, weapons in weapon_category_list %}
                            <div>
                                {{ category.name }} - 
                                {% for weapon in weapons %}
                                    <a href="{% url 'gm:weapon_detail' weapon.weapon.slug %}">{{ weapon.weapon.name }}</a>
                                    {% if not forloop.last %}
                                    / 
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </td>
                {% endif %}
                {% if npc.get_modules %}
                <tr>
                    <th scope="row">
                        {% blocktrans trimmed count counter=npc.modules.all|length %}
                            Module
                        {% plural %}
                            Modules
                        {% endblocktrans %}
                    </th>
                    <td class="text-left" colspan="6">
                        {% for modulenpc in npc.get_modules %}
                            <a href="{% url 'gm:module_detail' modulenpc.module_level.module.slug %}">{{ modulenpc.module_level }}</a>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="d-block d-sm-none">
        <table class="table table-sm table-bordered table-striped text-center mb-0">
            <tbody class="thead-light">
                <tr>
                    <th>{% trans "Aspect / Carac." %}</th>
                    <th>{% trans "Valeur" %}</th>
                    <th>{% trans "Except." %}</th>
                </tr>
                {% for aspect in npc.aspects.all %}
                    <tr>
                        <th scope="row">
                            {{ aspect.aspect.name }}
                            <i data-toggle="tooltip-next" class="fa fa-xs fa-question-circle text-secondary"></i>
                            <span class="d-none" tooltip-title>{{ aspect.aspect.npc_description }}</span>
                        </th>
                        <td>{{ aspect.basic_value }}</td>
                        <td>
                            {% if aspect.except_value > 0 %}
                                {% if aspect.except_major %}
                                    {% blocktrans with except_value=aspect.except_value %}Majeur ({{ except_value }}){% endblocktrans %}
                                    <i data-toggle="tooltip-next" class="fa fa-xs fa-question-circle text-secondary"></i>
                                    <span class="d-none" tooltip-title><p><strong>{{ aspect.aspect.exceptional_global_description }}</strong></p><p><em>{{ aspect.aspect.exceptional_minor_effect_description}}</em></p><p><em>{{ aspect.aspect.exceptional_major_effect_description}}</em></p></span>
                                {% else %}
                                    {% blocktrans with except_value=aspect.except_value %}Mineur ({{ except_value }}){% endblocktrans %}
                                    <i data-toggle="tooltip-next" class="fa fa-xs fa-question-circle text-secondary"></i>
                                    <span class="d-none" tooltip-title><p><strong>{{ aspect.aspect.exceptional_global_description }}</strong></p><p><em>{{ aspect.aspect.exceptional_minor_effect_description}}</em></p></span>
                                {% endif %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% if npc.force_field %}
                    <tr>
                        <th scope="row">{% trans "Champ de Force" %}</th>
                        <td class="border-right-0">{{ npc.force_field }}</td>
                        <td class="border-left-0"></td>
                    </tr>
                {% endif %}
                {% if npc.cohesion %}
                    <tr>
                        <th scope="row">{% trans "Cohésion" %}</th>
                        <td class="border-right-0">{{ npc.cohesion }}</td>
                        <td class="border-left-0"></td>
                    </tr>
                {% endif %}
                {% if npc.outbreak %}
                    <tr>
                        <th scope="row">{% trans "Débordement" %}</th>
                        <td class="border-right-0">{{ npc.outbreak }}</td>
                        <td class="border-left-0"></td>
                    </tr>
                {% endif %}
                {% if npc.health_points %}
                    <tr>
                        <th scope="row">{% trans "PS" %}</th>
                        <td class="border-right-0">{{ npc.health_points }}</td>
                        <td class="border-left-0"></td>
                    </tr>
                {% endif %}
                {% if npc.armour_points %}
                    <tr>
                        <th scope="row">{% trans "PA" %}</th>
                        <td class="border-right-0">{{ npc.armour_points }}</td>
                        <td class="border-left-0"></td>
                    </tr>
                {% endif %}
                {% if npc.energy_points %}
                    <tr>
                        <th scope="row">{% trans "PE" %}</th>
                        <td class="border-right-0">{{ npc.energy_points }}</td>
                        <td class="border-left-0"></td>
                    </tr>
                {% endif %}
                <tr>
                    <th scope="row">{% trans "Défense" %}</th>
                    <td class="border-right-0">{{ npc.defence }}</td>
                    <td class="border-left-0"></td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Réaction" %}</th>
                    <td class="border-right-0">{{ npc.reaction }}</td>
                    <td class="border-left-0"></td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Initiative" %}</th>
                    <td class="border-right-0">{{ npc.initiative }}</td>
                    <td class="border-left-0"></td>
                </tr>
                {% if npc.has_slots %}
                    <tr>
                        <th scope="row">{% trans "Slots" %} : {{ npc.slot_head }}</th>
                        <td colspan="2">
                            <div class="slot">
                                <div class="slot-head">{{ npc.slot_head }}</div>
                                <div class="slot-left-arm">{{ npc.slot_left_arm }}</div>
                                <div class="slot-right-arm">{{ npc.slot_right_arm }}</div>
                                <div class="slot-torso">{{ npc.slot_torso }}</div>
                                <div class="slot-left-leg">{{ npc.slot_left_leg }}</div>
                                <div class="slot-right-leg">{{ npc.slot_right_leg }}</div>
                            </div>
                        </td>
                    </tr>
                {% endif %}
                {% if npc.get_weapons %}
                    <th scope="row">
                        {% blocktrans trimmed count counter=npc.weapons.all|length %}
                            Arme
                        {% plural %}
                            Armes
                        {% endblocktrans %}
                    </th>
                    <td class="text-left" colspan="2">
                        {% regroup npc.get_weapons by weapon.category as weapon_category_list %}
                        
                        {% for category, weapons in weapon_category_list %}
                            <div>
                                {{ category.name }} - 
                                {% for weapon in weapons %}
                                    <a href="{% url 'gm:weapon_detail' weapon.weapon.slug %}">{{ weapon.weapon.name }}</a>
                                    {% if not forloop.last %}
                                    / 
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </td>
                {% endif %}
                {% if npc.get_modules %}
                    <tr>
                        <th scope="row">
                            {% blocktrans trimmed count counter=npc.modules.all|length %}
                                Module
                            {% plural %}
                                Modules
                            {% endblocktrans %}
                        </th>
                        <td class="text-left" colspan="2">
                            {% for modulenpc in npc.get_modules %}
                                <a href="{% url 'gm:module_detail' modulenpc.module_level.module.slug %}">{{ modulenpc.module_level }}</a>
                                {% if not forloop.last %} - {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endif %}