{% load i18n %}
{% load static %}
{% load martortags %}
{% load gm_extras %}

{% if vehicle.description %}
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">{% trans "Description" %}</h5>
        </div>
        <div class="card-body markdown-format text-justify">
            {% with img_src='gm/img/vehicle/'|add:vehicle.slug|add:'.png' %}
                {% if img_src|file_exists %}
                <div class="text-center">
                    <img class="card-illustration" src="{% static img_src %}" />
                </div>
                {% endif %}
            {% endwith %}
            <div>
                {{ vehicle.description|safe_markdown }}
            </div>
        </div>
    </div>
{% endif %}
<div class="card mb-3">
    <div class="card-header">
        <h5 class="font-weight-bold font-italic mb-0">{% trans "Statistiques" %}</h5>
    </div>
    <div class="card-body">
        <div class="d-none d-sm-block">
            <div class="row">
                <div class="col"><strong>{% trans "PA :" %}</strong> {{ vehicle.armour_points }}</div>
                <div class="col"><strong>{% trans "Manœuvrabilité :" %}</strong> {{ vehicle.maneuverability }}</div>
                <div class="col"><strong>{% trans "CdF :" %}</strong> {{ vehicle.force_field }}</div>
            </div>
            <div class="row mt-3">
                <div class="col"><strong>{% trans "PE :" %}</strong> {{ vehicle.energy_points }}</div>
                <div class="col"><strong>{% trans "Vitesse :" %}</strong> {{ vehicle.speed|linebreaksbr }}</div>
                <div class="col"><strong>{% trans "Équipage :" %}</strong> {{ vehicle.crew|linebreaksbr }}</div>
            </div>
        </div>
        <div class="d-block d-sm-none">
            <div class="row">
                <div class="col"><strong>{% trans "PA :" %}</strong> {{ vehicle.armour_points }}</div>
                <div class="col"><strong>{% trans "PE :" %}</strong> {{ vehicle.energy_points }}</div>
            </div>
            <div class="row mt-3">
                <div class="col"><strong>{% trans "Manœuvrab. :" %}</strong> {{ vehicle.maneuverability }}</div>
                <div class="col"><strong>{% trans "CdF :" %}</strong> {{ vehicle.force_field }}</div>
            </div>
            <div class="row mt-3">
                <div class="col"><strong>{% trans "Vitesse :" %}</strong> {{ vehicle.speed|linebreaksbr }}</div>
                <div class="col"><strong>{% trans "Équipage :" %}</strong> {{ vehicle.crew|linebreaksbr }}</div>
            </div>
        </div>
    </div>
</div>
{% if vehicle.weaponry != '' %}
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">{% trans "Armement" %}</h5>
        </div>
        <div class="card-body markdown-format text-justify">
            {{ vehicle.weaponry|safe_markdown }}
        </div>
    </div>
{% endif %}